@charset "UTF-8";

/* ----- reset ----- */
*{
  box-sizing: border-box;
}

body,h1,h2,h3,h4,h5,p,ul,li,ol,dl,dt,dd,figure,input,textarea {
  margin: 0;
  padding: 0;
  -webkit-text-size-adjust: 100%;
  list-style: none;
  outline:0;
  appearance: none;
  -webkit-appearance: none;
  border-radius: 0;
}

a { 
  color: inherit;
  text-decoration: none;
}

img{
  max-width:100%;
  vertical-align: bottom;
}

input,
button,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: none;
  border-radius: 0;
  font: inherit;
  outline: none;
}

textarea {
  resize: vertical;
}

input[type='checkbox'],
input[type='radio'] {
  display: none;
}

input[type='submit'],
input[type='button'],
label,
button,
select {
  cursor: pointer;
}

select::-ms-expand {
  display: none;
}


/* ----- common ----- */
@function rem($px){
  @return ($px / 16) *1rem;
}

$textColor: #232323;
$orange: #FF9900;
$red: #C20802;
$yellow: #fde625;
$linkColor: #008cff;

body {
  font-size: rem(16);
  color: $textColor;
  line-height: 1.5;
  position: relative;
  background-color: #fff;
  font-family:"ヒラギノ角ゴ pro", sans-serif;
}

.text-l{
  font-size: 16px;
  line-height: 1.4;
}

.inner{
  margin: 0 auto;
  max-width: 768px;
  width: 100%;
  padding: 0 15px;
}

.underline{
  border-bottom: 2px solid #000;
}

.bold{
  font-weight: 700;
}

.red{
  color: $red;
}

.yellow{
  color: $yellow;
}

.highlight-yellow{
  background: linear-gradient(transparent 60%,#fde625 50%);
}

.checkmark{
  &::before{
    content: "\f058";
    font-family: "font awesome 5 free";
    font-weight: 900;
    margin-right: 0.6em;
  }
}

.dn{
  display: none;
}

.db{
  display: block;
}

.page-mv{
  padding: 120px 0 90px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/* ----- ボタン関連----- */
/* amazonボタン */
.amznbtn{
  color: #fff;
  font-weight: 700;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  background: $orange;
  border-radius: 100px;
  letter-spacing: 1px;
  line-height: 1;
  display: block;
  
  /* nav内 */
  &.--nav{
    font-size: rem(12);
    padding: 0.4rem 1.5rem;
    margin: 0.4rem 0 16px;
    font-weight: 500;
    display: flex;
    align-items: center;
    font-family: "noto sans jp",sans-serif;
  }

  /* amazonアイコン付きボタン */
  &.--icon{
    &::before{
      content: '\f270';
      font-weight: 400;
      font-family: "Font Awesome 5 Brands";
      margin-right: 0.5rem;
      font-size: rem(16);
      line-height: 1;
    }
  }
  
  /* 幅広 */
  &.l-amznbtn{
    font-size: rem(18);
    font-weight: 700;
    border-radius: 45px;
    max-width: 400px;
    padding: 20px 20px 15px;
    line-height: 1.65;
    // margin: 0 15px  
  }

  /* 小さめ */
  &.s-amznbtn{
    padding: 15px 20px 10px;
    max-width: 300px;
    font-size: rem(16);
    line-height: 1.4em;
  }

  /* 極小 */
  &.ss-amznbtn{
    font-size: rem(12);
    padding: 16px 48px;
    display: inline-block;
    line-height: 1;
    font-family: "noto sans JP";
    text-align: center;
  }
}

/* アロー付きボタン */
.--arrow{
  display: block;
  position: relative;

  &::before{
    content: "";
    width: 8px;
    height: 8px;
    border-top: 3px solid #fff;
    border-right: 3px solid #fff;
    position: absolute;
    right: 15px;
    top: 50%;
    transform:rotate(45deg) translateX(-50%);
  }
}

/* ボタン用margin */
.btn-mt15{
  margin-top: 15px;
}

.btn-mt30{
  margin-top: 30px;
}

.btn-mb45{
  margin-bottom: 45px;
}

@media (min-width: 576px) {
  .inner{
    max-width: 540px;
  }
}

.mt30{
  margin-top: 30px;
}

@media (min-width: 768px) {
  .inner{
    max-width: 720px;
  }

  .text-l{
    font-size: 18px;
    line-height: 1.65;
  }

  .dn{
    display: inline-block;
  }

  .page-mv{
    padding: 210px 0 180px;
  }

  .mt30{
    margin-top: 60px;
  }

  /* ----- ボタン関連----- */
  /* amazonボタン */
  .amznbtn{

    /* nav内 */
    &.--nav{
      font-size: rem(16);
      margin: 0 0 0 0.8rem;
      align-items: center;  
    }

    /* アイコン付きボタン */
    &.--icon::before{
      font-size: rem(26);
    }

      /* 幅広 */
    &.l-amznbtn{
      font-size: rem(24);
    }

    /* 小さめ */
    &.s-amznbtn{
      font-size: rem(18);
      padding: 15px 20px 10px;
      max-width: 300px;
      line-height: 1.65em;
    }

    /* 極小 */
    &.ss-amznbtn{
      font-size: rem(16);
      padding: 16px 48px;
      // display: inline-block;
    }
  }

  /* ボタン用margin */
  .btn-mt15{
    margin-top: 45px;
  }

  .btn-mt30{
    margin-top: 75px;
  }

  .btn-mb45{
    margin-bottom: 60px;
  }

}

@media (min-width: 992px) {
  .inner{
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .inner{
    max-width: 1140px;
  }
}

/* Hover Event */
@media (hover: hover){
  .amznbtn,
  a{
    transition: opacity .3s;
    &:hover{
      opacity: .7;
    }
  }
}

/* -------------------------------------------- */
/* header */
/* -------------------------------------------- */
.header{
  background-color: #000;
  color: #fff;
  position: fixed;
  width: 100%;
  z-index: 3;
  padding: 0.5rem 0;
  transition: padding .25s;

  &.scroll{
    padding: 0;
  }

  &__wrap{
    padding: 0 1rem;
  }

  &__top{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  /* ナビ部分*/
  &__bottom{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    display: none;
  }
}

/* logo */
.site-logo{
  min-height: 3.8rem;
  display: flex;
  align-items: center;
  
  &__link{
    display: inline-block;
    height: 100%;
  }
  
  &__image{
    width: 165px;
    min-width: 165px;
    transition: all .25s;

    /* スクロールで小さくなる */
    &.scroll{
      width: 130px;
      min-width: 130px;
    }
  }
}

/*----- ハンバーガーメニュー -----*/
.burger{
  width: 30px;
  height: 30px;
  position: relative;
  color: #000;
  cursor: pointer;
  z-index: 3;
}

/* ハンバーガーメニューのバー */
.bar{
  width: 100%;
  height: 2px;
  border-radius: 6px;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform:translate(-50%,0);
  transition: all .2s;
}
    
.bar:nth-of-type(1){
  transform:translate(-50%,8px);
}

.bar:nth-of-type(3){
  transform:translate(-50%,-8px);
}

/* バーガーメニューにactiveクラスが着いた時 */
.burger.active .bar:nth-of-type(2){
  opacity: 0;
}

.burger.active .bar:nth-of-type(1){
  transform: translateX(-50%) rotate(-45deg);
}

.burger.active .bar:nth-of-type(3){
  transform:  translateX(-50%) rotate(45deg);
}

/* ナビメニューにactiveクラスが着いた時 */
.header__bottom.active{
  display: flex;
}

@media (min-width: 765px) {


}

@media (min-width: 1024px) {
  .header{
    
    &__wrap{
      display: flex;
      align-items: center;
      padding: 0 5rem;
    }
  
    &__top{
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  
    &__bottom{
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
    }
  }

  /* ---- ハンバーガーメニュー -----*/
  .burger{
    display: none;
  }

  .header-nav{
  
    &__list{
      display: flex;
      flex-wrap: wrap;
    }
  }

}

/* -------------------------------------------- */
/* nav関連 */
/* -------------------------------------------- */
.nav{
  font-weight: 500;
  font-family: "noto sans jp";
}

.header-nav{

  &__list{
    text-align: center;
    line-height: 1;
  }

  &__link{
    padding: 0.7em 0;
    margin: 0 0.65rem;
    display: inline-block;
    font-weight: 500;
  }
}

@media (min-width: 765px) {


}

/*見出しの画像 */
.heading-image{
  display: block;
  text-align: center;
}

/* -------------------------------------------- */
/* top-mv */
/* -------------------------------------------- */
.mv{

}

.mv-top{
  background: url(../images/pc-mv-bg.png);
  padding: 125px 0 75px;
  
  &__copy{
    font-size: clamp(1.063rem, 0.693rem + 1.58vw, 1.875rem); 
    text-align: center;
  }

  &__large{
    font-size: rem(22);
  }

  &__heading{
    margin-top: 30px;
  }
}

.mv-bottom{
  background-color: #000;
  position: relative;
  padding-bottom: 45px;
  
  &__image{
    position: relative;
    top: -90px;
    width: 100%;
    display: block;

    img{
      width: 100%;
    }
  }
}

/* 限定 */
.gentei{
  position: relative;
  background: linear-gradient(to bottom,#ece29d,#a6702e);
  width: 100%;
  padding: 1.5% 2%;
  margin-top: -90px;

  &__wrap{
    padding: 2% 2%;
    background-color: #fff;
  }
}

.gentei-body{
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__left{

  }

  &__right{
    margin-top: 15px;
  }

  &__desc{
    margin-top: 15px;
  }
}


@media (min-width: 768px) {
  .mv-top{
  
    &__heading{
      margin-top: 60px;
    }
  }

  .mv-bottom{
    padding-bottom: 60px;
  }



  /* 限定 */
  .gentei{
  
    &__wrap{
      padding: 45px;
    }
  }

  .gentei-body{
    flex-direction: row;
    justify-content: space-between;

    .gentei-handbook{
      width: 25%;
    }

    &__left{
      width: 30%;
    }

    &__right{
      width: 70%;
      padding: 0 15px;
      margin-top: 0;
    }

    &__desc{
      font-size: 16px;
      margin-top: 30px;
    }
  }
}

/* -------------------------------------------- */
/* reason */
/* -------------------------------------------- */
.reason{
  padding: 45px 0;
  background: url(../images/pc-reason-bg.png) center /cover no-repeat;
}

.reason-body{
  background-color: #fff;
  padding: 15px;
  margin-top: 30px;

  &__wrap{
    margin-top: 15px;
    background-color: #fff;
  }
}

.reason-body-list{
  padding: 15px 0;
  border: 1px solid #dee2e6;
  
  &__con{
    padding: 0 15px;

    &:last-child{
      margin-bottom: -10px;
    }
  }
  
  &__item{
    border-bottom: 2px dotted #ccc;
    padding-bottom: 10px;
    margin-bottom: 10px;
  }
}

@media (min-width: 768px) {
  .reason{
    padding: 120px 0;
  
    &__list{
      padding: 30px 0;
      display: flex;
    }

    &__list-con{
      width: 50%;
    }
  }

  .reason-body{
    padding: 45px;
    margin-top: 45px;
  
    &__wrap{
      margin-top: 30px;
    }
  }

  .reason-body-list{
    padding: 30px;
    border: 1px solid #dee2e6;
    display: flex;
    
    &__con{
      padding: 0 15px;
      width: 50%;
    }
    
    &__item{
      font-size: 18px;
    }
  }

  .mb0{
    margin-bottom: 0;
  }
}

/* -------------------------------------------- */
/* product */
/* -------------------------------------------- */
.product{
  background-color: #eee;
  padding: 45px 0;
}

.product-item{
  width: 100%;
  margin-top: 30px;

  &__cont{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &-bg--black{
    background: #000;
    padding: 15px;
  }

  &-bg--white{
    background: #fff;
    padding: 15px;
    margin-top: 15px;
  }

  &__title{
    font-size: 24px;
    font-size: 21px;
    text-align: center;
  }

  &__list{
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    margin-top: 12px;
  }

  &__list-item{
    font-size: 16px;
    width: 100%;
    margin-top: 3px;
  }

  &__desc{
    text-align: center;
    font-size: 15px;
  }

  &__price{
    margin: 15px 0;
    text-align: center;
  }

  &__price--before{
    text-decoration: line-through;
  }

  &__price--after{
    font-size: 36px;
    margin-left: 8px;
  }

  .yen{
    font-size: 16px;
  }

  &__detail{
    display: block;
    text-align: center;
    margin-top: 15px;
    font-size: 14px;
    color: #626262;
    text-decoration: underline;
  }
}

.doukonhin-btn{
  color: #008cff;
  font-size: 12px;
  margin-top: 10px;
  display: inline-block;

  &::after{
    content: "\f107";
    font-family: "Font Awesome 5 free";
    font-weight: 900;
    margin-left: 8px;
  }

  &.active::after{
    content: "\f106";
  }
}

/* ----- 同梱品----- */
.doukonhin{
  background-color: #fff;
  padding: 1rem;
  margin-top: 15px;
  display: none;

  &__name{
    font-size: 16px;
  }

  &__list{
    line-height: 1.3;
    margin-top: 15px;
  }

  &__list-title{
    &:not(:first-child){
      margin-top: 15px;
    }
  }

  &__list-desc{
    font-size: 14px;
  }
}

@media (min-width: 768px) {
  .product{
    padding: 120px 0;
  }

  .product-item{
    width: calc((100% - 30px) / 2);
    margin-top: 45px;

    &-bg--black{
      background: #000;
      padding: 30px;
    }
  
    &-bg--white{
      background: #fff;
      padding: 30px;
      margin-top: 20px;
    }

    &__title{
      font-size: 24px;
    }

    &__list-item{
      width: 50%;
      font-size: 18px;
    }

    &__desc{
      font-size: 16px;
    }
  
  }

  /* ----- 同梱品----- */
  .doukonhin{

    &__name{
      font-size: 18px;
    }

    &__list{
      margin-top: 30px;
    }
  }


}

/* -------------------------------------------- */
/* compare */
/* -------------------------------------------- */
.compare{
  color: #fff;
  background-color: #000;
  text-align: center;
  padding: 90px 0 60px;

  &__heading{
    font-size: calc( 1.91rem + (3.6 - 1.91) * ((100vw - 20rem)/(48 - 20)));
  }

  &__desc{
    margin-top: 24px;
  }
  
  &__table{
    margin-top: 16px;
  }
}

@media (min-width: 765px) {
  .compare{
    color: #fff;
    background-color: #000;
    text-align: center;
    padding: 90px 0 60px;
  
    &__heading{
      font-size: 3.6rem;
    }
  
    &__desc{
      margin-top: 24px;
    }
    
    &__table{
      margin-top: 16px;
    }
  }

}

/* -------------------------------------------- */
/* refund */
/* -------------------------------------------- */
.refund{
  background: url(../images/pc-refund-bg.png) center/cover no-repeat;
  padding: 45px 0;

  &__wrap{
    background: #fff;
    padding: 10px;
    margin-top: 30px;
  }
  
  &__border{
    border: 3px solid #fc2;
    border-image: linear-gradient(to bottom, #ECE29D 0%, #A5702E 100%);
  border-image-slice: 1;
    padding: 10px;
  }

  &__body{
    margin-top: 15px;
  }
}

@media (min-width: 765px) {
  .refund{
    padding: 120px 0;

    &__heading{
      text-align: center;
    }

    &__wrap{
      margin-top: 45px;
    }

    &__border{
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: row-reverse;
      padding: 30px;
    }

    &__image{
      width: 50%;
    }

    &__body{
      width: 49%;
      font-size: 18px;
    }

    &__desc:last-child{
      margin-top: 40px;
    }

    .font--l{
      font-size: 22px;
    }
  }

}

/* -------------------------------------------- */
/* usage */
/* -------------------------------------------- */
.usage{
  text-align: center;
  padding: 45px 0 35px;

  &__youtube{
    margin-top: 30px;
    width: 100%;
    height: 100%;
    aspect-ratio: 16/9;

    iframe{
      width: 100%;
    }
  }

  &__about-sns{
    margin-top: 15px;
  }

  &__instructions{
    margin-top: 15px;
  }
}

.usage-list{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-top: 15px;

  &__item{
    padding: 0 5px;
  }

  &__link{
    background-color: #000;
    color: #fff;
    display: block;
    padding: 5px 0;
    text-align: center;
    width: 102px;
  }
}

/* ----- スライダー ----- */
.instaSwiper{
  margin-top: 15px;
  max-height: 600px;
}

/* ボタン */
.swiper-button-prev,
.swiper-button-next{
  background-color: rgba(0, 0, 0,0.5);
  border-radius: 50%;
  border: 2px solid #fff;
  width: 60px;
  height: 60px;
  width: 40px;
  height: 40px;

  &::after{
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    left: 50%;
    top: 50%;
    border-left: 2px solid #fff;
    border-top: 2px solid #fff;
  }
}

/* 前へ */
.swiper-button-prev{
  &::after{
    transform: translate(-35%, -50%) rotate(315deg);
  }
}

/* 次へ */
.swiper-button-next{
  &::after{
    transform: translate(-65%, -50%) rotate(135deg);
  }
}

/* ページネーション */
.swiper-pagination{
  display: none;
}


@media (min-width: 765px) {
  .usage{
    padding: 120px 0 120px;
  
    &__youtube{
      margin-top: 60px;
    }
  
    &__about-sns{
      margin-top: 60px;
    }
  
    &__instructions{
      margin-top: 45px;
    }
  }
  
  .usage-list{
    margin-top: 30px;
  }

  /* ----- スライダー ----- */
  .instaSwiper{
    margin-top: 120px;
  }

  /* ボタン */
  .swiper-button-prev,
  .swiper-button-next{
    background-color: rgba(0, 0, 0,0.5);
    border-radius: 50%;
    border: 2px solid #fff;
    width: 60px;
    height: 60px;

    &::after{
      content: "";
      position: absolute;
      width: 15px;
      height: 15px;
      left: 50%;
      top: 50%;
      border-left: 2px solid #fff;
      border-top: 2px solid #fff;
    }
  }

  /* 前へ */
  .swiper-button-prev{
    &::after{
      transform: translate(-35%, -50%) rotate(315deg);
    }
  }

  /* 次へ */
  .swiper-button-next{
    &::after{
      transform: translate(-65%, -50%) rotate(135deg);
    }
  }

  /* ページネーション */
  .swiper-pagination{
    display: block;
  }

  .swiper-pagination-bullet{
    width: 16px;
    height: 16px;
  }

  .swiper-pagination-bullet-active{
    background: #000;
    background: #008CFF;
  }

}

/* -------------------------------------------- */
/* exam */
/* -------------------------------------------- */
.exam{
  background-color: #000;
  padding: 120px 0;
  padding: 45px 0;

  .db{
    display: block;
    text-align: center;

  }

  &__exam-image{
    margin-top: 30px;
  }

  &__arrow{
    margin-top: 15px;
  }
  
  &__date-image{
    margin-top: 15px;
  }
}

@media (min-width: 765px) {
  .exam{
    padding: 120px 0;

    &__exam-image{
      margin-top: 60px;
    }
  
    &__arrow{
      margin-top: 0px;
    }
    
    &__date-image{
      margin-top: 30px;
    }
  }

}


/* -------------------------------------------- */
/* baseCoat */
/* -------------------------------------------- */
.baseCoat{
  background: #cdcdcd;
  padding: 45px 0 60px;
  font-size: 16px;

  &__cont{
    background:#EAEAEA;
    padding: 15px;
    margin-top: 15px;
  }

  &__image{
    text-align: center;
  }
}

.baseCoat-body{
  margin-top: 15px;

  &__title{
    border-bottom: 2px solid #000;
    padding-bottom: 10px;
    font-size: 20px;
  }

  &__desc{
    margin-top: 15px;
  }

  &__subtitle{
    margin-bottom: -15px;
    margin-top: 15px;
  }
}

@media (min-width: 765px) {
  .baseCoat{
    padding: 120px 0;
    font-size: 18px;
  
    &__cont{
      padding: 45px;
      margin-top: 60px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  
    &__image{
      width: 33.3%;
      padding: 0 15px;
    }
  }
  
  .baseCoat-body{
    width: 66.6%;
    padding: 15px;

    &__title{
      padding-bottom: 20px;
      font-size: 30px;
    }
  
    &__desc{
      margin-top: 30px;
    }
  
    &__subtitle{
      margin-bottom: -30px;
      margin-top: 30px;
    }
  }

}

/* -------------------------------------------- */
/* protect */
/* -------------------------------------------- */
.protect{
  padding: 45px 0;
  background-color: #eee;
  font-size: 16px;

  &__text{
    text-align: center;
    margin-top: 30px;
  }
}

.protect-desc{
  &__wrap{
    margin-top: 15px;
  }
  
  &__image{
    text-align: center;
  }

  &__image-complement{
    margin-top: 15px;
  }
}

.protect-arrow{
  text-align: center;
  margin-top: 15px;
}

.protect-bottom{
  background-color: #000;
  color: #fff;
  padding:  15px;
  margin-top: 15px;

  img{
    margin-top: -15px;
  }
}

@media (min-width: 765px) {
  .protect{
    padding: 120px 0;
    font-size: 18px;
  
    &__text{
      margin-top: 45px;
    }

    &-top{
      margin-top: 60px;
      display: flex;
      justify-content: center;

      .protect-desc__wrap{
        width: 410px;
        padding: 0 15px;
      }
    }
  }

  .protect-arrow{
    margin-top: 30px;
  }
  
  .protect-bottom{
    padding:  30px;
    margin: 30px auto 0;
    max-width: 790px;
  
    img{
      margin-top: auto;
    }

    .protect-desc__image{
      width: calc((100% - 30px) /2);
    }

    .protect-desc__wrap{
      display: flex;
      justify-content: space-between;
      margin-top: 0;
    }

    .protect-desc__image-complement{
      margin-top: 0;
    }

    &__image-complement-wrap{
      width: calc((100% - 30px) /2);
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }

}

/* -------------------------------------------- */
/* workability */
/* -------------------------------------------- */
.workability{
  background: url(../images/pc-workability-bg.png) center/cover no-repeat;
  padding: 45px 0;

  &__wrap{
    background-color: rgba(255,255,255,.3);
    margin-top: 30px;
  }

  &__text-wrap{
    color: #fff;
    padding: 15px;
  }

  &__text{

    &.yellow{
      font-size: 21px;
      margin-top: 20px;
    }
  }

  &__image{
    width: 100%;
    // margin-top: 15px;
    padding: 15px;
  }
}

@media (min-width: 765px) {
  .workability{
    padding: 120px 0;
  
    &__wrap{
      margin-top: 60px;
      display: flex;
      padding: 45px;
    }
  
    &__text-wrap{
      font-size: 18px;
      padding: 15px;
      width: 60%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  
    &__text{
  
      &.yellow{
        font-size: 24px;
        margin-top: 20px;
      }
    }
  
    &__image{
      width: 40%;
      margin-top: 0px;
    }
  }

}

/* -------------------------------------------- */
/* detail */
/* -------------------------------------------- */
.detail{
  padding: 45px 0;

  &__wrap-common{
    background-color: #eee;
    padding: 15px;
    margin-top: 15px;
  }


  &__common-heading{
    text-align: center;
    font-size: 30px;
    font-size: 21px;
  }

  &__common-desc{
    text-align: center;
    margin-top: 15px;
  }
}

/* 共通 */
.detail-card{
  margin-top: 15px;
  
  &__wrap{
    display: flex;
    flex-direction: column;
  }
  
  &__image{
    width: 100%;
    img{
      width: 100%;
    }
  }

  &__body{
    background: #000;
    color: #fff;
    padding: 15px;
  }
  
  &__title{
    text-align: center;
    font-size: 18px;
    line-height: 1;
  }
  
  &__desc{
    margin-top: 10px;
    font-size: 15px;
    word-break: break-all;
    line-height: 1.4;
    
  }
}

.hardness{

}

.br-none{
  display: none;
}

@media (min-width: 765px) {
  .detail{
    padding: 120px 0;

    &__wrap-common{
      padding: 45px 30px;
      margin-top: 60px;
    }

    &__common-heading{
      font-size: 30px;
    }
  
    &__common-desc{
      margin-top: 30px;
    }
  }
  
  /* 共通 */
  .detail-card{
    width: 33.333%;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    flex-direction: column;
    margin-top: 0;

    &.--2col{
      width: 50%;
    }
    
    &__wrap{
      flex-direction: row;
      margin-top: 30px;
    }

    &__body{
      padding: 30px;
      height: 100%;
    }
    
    &__title{
      font-size: 24px;
    }
    
    &__desc{
      margin-top: 20px;
      font-size: 16px;
      line-height: 1.65;
    }
  }

  .br-none{
    display: block;
  }

}


/* -------------------------------------------- */
/* qaa */
/* -------------------------------------------- */
.qaa{
  background: url(../images/pc-qa-bg.png);
  padding: 45px 0;

  &__wrap{
    margin-top: 6px;
    padding-bottom: 26px;
  }

  &__body{
    margin-top: 24px;
  }

  &__common{
    padding: 15px;
    display: flex;
  }

  /* アイコン */
  &__icon{
    margin-right: 15px;
    min-width: 32px;
    width: 32px;
  }

  &__link{
    color:#008cff;
  }
}

/* 質問 */
.question{

  &__wrap{
    background-color: #000;
    color: #fff;
    position: relative;
    font-size: 18px;
    align-items: center;

    &::after{
      content: "\f078";
      font-family: "font awesome 5 free";
      font-weight: 900;
      position: absolute;
      width: 30px;
      height: 30px;
      background-color: #fff;
      color: #000;
      display: flex;
      justify-content: center;
      align-items: center;
      right: 15px;
      top: 15px;
      border-radius: 5px;
      transition: transform .3s;
    }

    &.active::after{
      transform: rotate(180deg);
    }
  }

  &__body{
    padding-right: 30px;
    font-weight: 700;
  }
}


/* 答え */
.answer{
  margin-top: 8px;
  display: none;
  
  &__wrap{
    background-color: #fff;
    font-size: 16px;
  }
  
  &__body{

    &-text{
      word-break: break-all;
    }
  }

  &__body-text:not(:first-child){
    margin-top: 16px;
  }
}

@media (min-width: 765px) {
  .qaa{
    padding: 120px 0;
  
    &__wrap{
      margin-top: 60px;
    }

    &__body{
      margin-top: 26px;
    }
  
    /* アイコン */
    &__icon{
      min-width: 50px;
      width: 50px;
    }
  }
  
  /* 質問 */
  .question{
    &__wrap{
      font-size: 24px;
      padding: 15px 30px;
  
      &::after{
        width: 45px;
        height: 45px;
        right: 30px;
      }
    }
  }
  
  
  /* 答え */
  .answer{
    
    &__wrap{
      font-size: 18px;
      padding: 30px;
    }
  }

}

/* -------------------------------------------- */
/* cta */
/* -------------------------------------------- */
.cta{
  background: #000;
  padding: 15px 0 45px;
}

@media (min-width: 765px) {
  .cta{
    background: #000;
    padding: 30px 0 60px;
  }

}


/* -------------------------------------------- */
/* footer */
/* -------------------------------------------- */
.footer{
  padding: 30px 0 120px;
  background: #000;
  color:#fff;
  font-family: "noto sans jp",sans-serif;

  &__fixed-bg{
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(../images/footer_bg.jpg)center/cover;
    padding: 15px 0;
    position: relative;
    text-align: center;
    background-attachment: fixed;
  }

  &__maintitle{
    line-height: 1;
    font-size: calc( 1.91rem + (3.6 - 1.91) * ((100vw - 20rem)/(48 - 20)));
    font-weight: 700;
  }
  
  &__subtitle{
    font-weight: 300;
    margin-top: 30px;
    padding-bottom: 16px;
    letter-spacing: -0.05em;
    font-size: calc( 1.14rem + (1.4 - 1.14) * ((100vw - 20rem)/(48 - 20)));
  }

  &__copyright{
    text-align: center;
    font-size: 1.2rem;
  }
}

.footer-nav{
  color: $linkColor;
  margin-top: 30px;

  &__list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__item{
    padding: 0 1rem 1rem;
    font-size: 1.2rem;
  }
}

@media (min-width: 765px) {
  .footer{
  
    &__maintitle{
      font-size: 3.6rem;
    }
    
    &__subtitle{
      font-size: 1.4rem;
    }
  }

}

/* -------------------------------------------- */
/* triple */
/* -------------------------------------------- */
/* tripleページ共通パーツ */
/* タイトル */
.title-common{
  font-size:calc( 1.35rem + (2 - 1.35) * ((100vw - 20rem)/(48 - 20)));
  margin-top: 16px;
}

/* テキスト */
.desc-common{
  font-size: rem(19);
  margin-top: 16px;
}

.triple-mv{
    background-image: url(../images/triple/triple-mv-sp.png);
  
    &__copy--top{
      text-align: center;
    }
    
    &__copy--bottom{
      margin-top: 30px;
      text-align: center;
      padding-bottom: 15px;
    }

}

@media (min-width: 765px) {
  .title-common{
    font-size: rem(32);
  }

  .triple-mv{
      background-image: url(../images/triple/triple-mv-pc.png);

      &__copy--bottom{
        margin-top: 60px;
        padding-bottom: 45px;
      }
    }
}

@media (min-width: 765px){
.title-common{
  margin-top: 0;
}
}

/* -------------------------------------------- */
/* triple-reason */
/* -------------------------------------------- */
.triple-reason{
  padding: 90px 0 30px;

  &__left{
    width: 100%;
  }

  &__right{
    text-align: center;
    margin-top: 48px;
    font-family: "noto sans jp";
  }

  &__heading{
    font-size: rem(23);
  }

  &__image{

  }

  &__attention{
    color: red;
    margin-top: 6px;
    font-size: rem(16);
  }

  &__doukonhin-btn{
    font-weight: 700;
    font-size: rem(19);
    margin-top: 16px;
    padding-bottom: 16px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0, 0, 0,0.125);
  }

  &__instructions{
    display: block;
    text-align: center;
    margin-top: 30px;
  }
}

.triple-reason-list{
  line-height: 1.6;
  font-size: rem(19);
  padding-bottom: 24px;
  
  &__title{
    font-size: rem(19);
    margin-top: 24px;
    font-weight: 700;
  }
}

@media (min-width: 765px) {
  .triple-reason{
    padding: 90px 0 120px;
  
    &__heading{
      font-size: rem(32);
    }
  
    &__doukonhin-btn{
      font-size: rem(22);
    }
  
    &__instructions{
      margin-top: 30px;
    }
  }
}

@media (min-width: 992px) {
  .triple-reason{

    &__cont{
      display: flex;
    }
  
    &__left{
      width: 55%;
    }
  
    &__right{
      flex:1;
      padding-left: 64px;
      margin-top: 0;
    }

  }

}

/* -------------------------------------------- */
/* triple-doukonhinn */
/* -------------------------------------------- */
.triple-doukonhinn{
  font-family: "noto sans JP";

  &__heading{
    background: linear-gradient(rgba(79,73,67,0.8), rgba(79,73,67,0.8)),url(../images/triple/doukonhinn-bg-1.jpg) 50% 50%/cover no-repeat;
    color: #fff;
    text-align: center;
    padding: 60px 0 76px;
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
    font-size: calc( 1.91rem + (3.6 - 1.91) * ((100vw - 20rem)/(48 - 20)));
    background-attachment: fixed;
  }

  &__cont{
    padding: 64px 0;
  }
}

@media (min-width: 765px) {
  .triple-doukonhinn{
  
    &__heading{
      padding: 60px 0 76px;
      font-size: 58px;
    }
  }
}

@media (min-width: 992px){
  .triple-doukonhinn{
  
    &__cont{
      padding: 64px 0;
    }

    &__image{
      width: 50%;
    }
    
    &__body{
      flex:1;
      padding: 2rem;
    }
  }
  
  .flex-common{
    display: flex;
    align-items: center;

    &.--reverse{
      flex-direction: row-reverse;

      .desc-common{
        max-width: 28rem;
      }
    }
  }
}

/* -------------------------------------------- */
/* triple-features */
/* -------------------------------------------- */
.triple-feature{
  
  &__wrap{
    background-color: #4F4943;
    padding: 135px 15px;
    color: #fff;
  }

  &__title{
    margin-top: 24px;
  }

  &__desc{
    margin-top: 46px;
  }

  &__bg{
    background: url(../images/triple/doukonhinn-bg-2.jpg) center/cover no-repeat;
    padding: 135px 0;
    background-attachment: fixed;

    span{
      display: block;
      width: 100%;
      height: 160px;
    }
  }

  &__image{

    &.--mt{
      margin-top: 64px;
    }

    img{
      width: 100%;
    }
  }

  &__btn{
    padding: 30px;
    text-align: center;
  }
}

.triple-feature-list{
  margin-top: 45px;

  &__item{
    padding: 16px;
  }

  &__image{
    padding-bottom: 32px;
  }
}

@media (min-width: 765px) {
  .triple-feature{

    &__title{
      margin-top: 0px;
    }
  
    &__desc{
      margin-top: 60px;
    }
  
    &__bg{

      span{
        height: 230px;
      }
    }
  
    &__btn{
      .ss-amznbtn{
        font-size: rem(19);
      }
    }
  }
  
  .triple-feature-list{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  
    &__item{
      width: 50%;
    }
  }

}

@media (min-width: 992px){
  .triple-feature{

    &__cont{
      display: flex;
      justify-content: space-between;
    }
  
    &__wrap{
      background-color: #4F4943;
      padding: 135px 15px;
      color: #fff;
    }
  
    &__image{
      width: 60%;
      padding-right: 64px;
      
      &.--mt{
        margin-top: 0px;
        padding-right: 0;
        padding-left: 64px;
      }
    }

    &__body{
      flex:1;
    }
  }
  
  .triple-feature-list{
  
    &__item{
      width: 25%;
    }
  }

}

/* -------------------------------------------- */
/*  */
/* -------------------------------------------- */


@media (min-width: 765px) {


}

/* -------------------------------------------- */
/*  */
/* -------------------------------------------- */


@media (min-width: 765px) {


}


