@charset "UTF-8";

/* ----- reset ----- */
*{
  box-sizing: border-box;
}

body,h1,h2,h3,h4,h5,p,ul,li,ol,dl,dt,dd,figure,input,textarea {
  margin: 0;
  padding: 0;
  -webkit-text-size-adjust: 100%;
  list-style: none;
  outline:0;
  appearance: none;
  -webkit-appearance: none;
  border-radius: 0;
}

a { 
  color: inherit;
  text-decoration: none;
}

img{
  max-width:100%;
  vertical-align: bottom;
}

input,
button,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: none;
  border-radius: 0;
  font: inherit;
  outline: none;
}

textarea {
  resize: vertical;
}

input[type='checkbox'],
input[type='radio'] {
  display: none;
}

input[type='submit'],
input[type='button'],
label,
button,
select {
  cursor: pointer;
}

select::-ms-expand {
  display: none;
}

/* ----- common ----- */
@function rem($px){
  @return ($px / 16) *1rem;
}

$textColor: #232323;
$orange: #FF9900;
$red: #C20802;
$yellow: #fde625;
$linkColor: #008cff;

body {
  font-size: rem(16);
  color: $textColor;
  line-height: 1.5;
  position: relative;
  background-color: #fff;
  font-family:"ヒラギノ角ゴ pro", sans-serif;
}

.text-l{
  font-size: 16px;
  line-height: 1.4;
}

.inner{
  margin: 0 auto;
  max-width: 768px;
  width: 100%;
  padding: 0 15px;
}

a{
  &:hover{
    color: #c1c1c1;
  }
}

.underline{
  border-bottom: 1px solid #000;
}

.bold{
  font-weight: 700;
}

.red{
  color: $red;
}

.yellow{
  color: $yellow;
}

.highlight-yellow{
  background: linear-gradient(transparent 60%,#fde625 50%);
}

.checkmark{
  &::before{
    content: "\f058";
    font-family: "font awesome 5 free";
    font-weight: 900;
    margin-right: 0.6em;
  }
}

.dn{
  display: none;
}

.amznbtn{
  color: #fff;
  font-weight: 700;
  width: 100%;
  text-align: center;
  
  margin: 0 auto;
  
  &.--w300{
    max-width: 300px;
    font-size: 16px;
    line-height: 1.4;   

  a{
    padding: 15px 20px 10px;
    }
  }
  
  &.--w400{
    max-width: 400px;
    font-size: 18px;
    line-height: 1.4;

    a{
      padding: 20px 20px 15px;
    }
  }
  
  a{
    background: $orange;
    border-radius: 45px;
    display: block;
    position: relative;

    &::before{
      content: "";
      width: 8px;
      height: 8px;
      border-top: 3px solid #fff;
      border-right: 3px solid #fff;
      position: absolute;
      right: 15px;
      top: 50%;
      transform:rotate(45deg) translateX(-50%);
    }
  }
}

.btn-margin{
  padding: 30px 0 60px;
}

@media (min-width: 576px) {
  .inner{
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .inner{
    max-width: 720px;
  }

  .text-l{
    font-size: 18px;
    line-height: 1.65;
  }

  .dn{
    display: inline-block;
  }

  .amznbtn{
    &.--w300{
      font-size: 18px;
    }
  
    &.--w400{
      font-size: 24px;
      line-height: 1.65;
    }
  }

}
@media (min-width: 992px) {
  .inner{
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .inner{
    max-width: 1140px;
  }
}
/* -------------------------------------------- */
/* header */
/* -------------------------------------------- */
.header{
  background-color: #000;
  color: #fff;
  position: fixed;
  width: 100%;
  z-index: 1;
  padding: 0.5rem 0;
  transition: padding .25s;

  &.scroll{
    padding: 0;
  }

  
  &__wrap{
    padding: 0 1rem;
  }

  &__top{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  /* ナビ部分*/
  &__bottom{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    // left: 0;
    display: none;
    // background-color: #000;
    // position: absolute;
    // z-index: 1;
  }
}

/* logo */
.site-logo{
  min-height: 3.8rem;
  display: flex;
  align-items: center;
  
  &__link{
    display: inline-block;
    height: 100%;
  }
  
  &__image{
    width: 165px;
    min-width: 165px;
    transition: all .25s;

    /* スクロールで小さくなる */
    &.scroll{
      width: 130px;
      min-width: 130px;
    }
  }
}

.btn{
  background-color: $orange;
  letter-spacing: 1px;
  text-align: center;
  margin: 0;
  font-size: rem(12);
  border-radius: 100px;
  font-family: "noto sans jp";
  margin: 0.4rem 0 1rem;
  color: #fff;

  &:hover{
    opacity: .7;
  }

  &--amazon{
    width: 160px;
    font-size: rem(12);
  }

  a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-radius: 100px;
    padding: 0.4rem 1.5rem;
    line-height: 1.2;
    
    &::before{
      content: "\f017";
      font-weight: 400;
      font-family: "Font Awesome 5 Free";
      margin-right: 0.5rem;
      font-size: rem(16);
    }
  }
}

.btn--sm{
  font-weight: 500;
  transition: all .3s ease-in-out;
  // margin: 0.4rem 0.8rem;
}

/* ハンバーガーメニュー */
.burger{
  width: 30px;
  height: 30px;
  // position: fixed;
  position: relative;
  color: #000;
  cursor: pointer;
  // top: 2%;
  // right: 2%;
  z-index: 3;

}

/* ハンバーガーメニューのバー */
.bar{
  width: 100%;
  height: 2px;
  border-radius: 6px;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform:translate(-50%,0);
  transition: all .2s;
}
    
.bar:nth-of-type(1){
  transform:translate(-50%,8px);
}

.bar:nth-of-type(3){
  transform:translate(-50%,-8px);
}

/* バーガーメニューにactiveクラスが着いた時 */
.burger.active .bar:nth-of-type(2){
  opacity: 0;
}

.burger.active .bar:nth-of-type(1){
  transform: translateX(-50%) rotate(-45deg);
}

.burger.active .bar:nth-of-type(3){
  transform:  translateX(-50%) rotate(45deg);
}

/* ナビメニューにactiveクラスが着いた時 */
.header__bottom.active{
  display: flex;
}

@media (min-width: 765px) {


}

@media (min-width: 1024px) {
  .header{
    
    &__wrap{
      display: flex;
      align-items: center;
      padding: 0 5rem;
    }
  
    &__top{
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  
    &__bottom{
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
    }
  }

  /* ハンバーガーメニュー */
  .burger{
    display: none;
  }

  .header-nav{
    // border: 1px solid #fff;
    // max-height: 80vh;
    // max-height: 93.5vh;
  
    &__list{
      display: flex;
      flex-wrap: wrap;
    }
  }

  .btn{
    margin: 0.4rem 0.8rem;
  
    &--amazon{
      width: 160px;
      font-size: rem(16);
    }
  
    a{
      
      &::before{
        font-size: rem(26);
      }
    }
  }

}

/* Hover Event */
@media (hover: hover){

}
/* -------------------------------------------- */
/* nav関連 */
/* -------------------------------------------- */
.nav{
  font-weight: 500;
  font-family: "noto sans jp";

  &__list{

  }
}

.header-nav{
  // border: 1px solid #fff;
  // max-height: 80vh;
  // max-height: 93.5vh;

  &__list{
    text-align: center;
    line-height: 1;
  }

  &__link{
    padding: 0.7em 0;
    margin: 0 0.65rem;
    display: inline-block;
    font-weight: 500;
    transition: color .2s ease-in-out;
  }
}

@media (min-width: 765px) {


}

/* Hover Event */
@media (hover: hover){

}
/* -------------------------------------------- */
/* top-mv */
/* -------------------------------------------- */
.mv{
}

.mv-top{
  text-align: center;
  background: url(../images/pc-mv-bg.png);
  padding: 125px 0 75px;
  &__text-first{
    font-size: clamp(1.063rem, 0.693rem + 1.58vw, 1.875rem); 
  }

  &__text-second{
    font-size: clamp(1.75rem, 0.386rem + 5.82vw, 4.75rem);
      // font-size: 76px;
    // font-size: 28px;
    line-height: 1.2;
  }

  &__text-third{
// font-size: 120px;
// font-size: 40px;
    font-size:clamp(2.5rem, 0.227rem + 9.7vw, 7.5rem);
    line-height: 1.2;
    font-style: italic;
    background: -webkit-linear-gradient(88deg, #000, #bab7b7);
    -webkit-background-clip: text; /* テキストで切り抜く */
    -webkit-text-fill-color: transparent; 
  }
}

.heading-grad{

}

.mv-bottom{
  background-color: #000;
  
  &__image{
    position: relative;
    top: -90px;
    width: 100%;
    display: block;

    img{
      width: 100%;
    }
  }
}

.s{
  color: #fff;

}

.mv-text__first{

  &--top{
    font-size: clamp(1.063rem, 0.693rem + 1.58vw, 1.875rem);
  }
  
  &--bottom{
    font-size: clamp(1.063rem, 0.693rem + 1.58vw, 1.875rem);
  }
}

.mv-text__secondly{
  
  letter-spacing: 0.15em;

  &--top{
  
  }
  
  &--middle{
    // font-size: 76px;
    // font-size: 28px;
  }

  &--bottom{
   
    
    
  }
}

.gentei{
  position: relative;
  background: linear-gradient(to bottom,#ece29d,#a6702e);
  width: 100%;
  padding: 1.5% 2%;
  margin-top: -90px;

  &__wrap{
    padding: 2% 2%;
    background-color: #fff;
  }

}

.gentei-body{
  margin-top: 30px;

  .gentei-handbook{
    text-align: center;
  }

  &__heading{
    letter-spacing: -0.05em;

    &--balloon{
      border: 2px solid #000;
      border-radius: 30px;
      display: inline-block;
      font-size: 10px;
      padding: 0.2rem 0.8rem;
    }

    &--red{
      font-size: 22px;
    }
    
    &--black{
      font-size: 22px;
    }
  }

  &__text{
    margin-top: 15px;
  }
}

.aaa{
  position: relative;

  &::before{
    position: absolute;
    content: "\f054";
    font-family: "font awesome 5 free";
    top: 18px;
    right: 15px;
    font-weight: 900;
  }

  &.cta{
// padding: 30px 60px;
  }
}

.btn--n{
  // padding: 0 15px;
  // font-size: 18px;
}

.btn--w{

}

.m0auto{
  margin: 0 auto;
}


@media (min-width: 768px) {
  .gentei-body{
    display: flex;
    justify-content: space-between;
    align-items: center;

    .gentei-handbook{
      width: 25%;
    }

    &__heading{
      letter-spacing: -0.05em;
  
      &--balloon{
        border: 2px solid #000;
        border-radius: 30px;
        display: inline-block;
        font-size: 10px;
        padding: 0.2rem 0.8rem;
      }
  
      &--red{
        font-size: 22px;
        font-size: 36px;
      }
      
      &--black{
        font-size: 22px;
        font-size: 36px;
      }
    }

    &__right{
      width: 70%;
    }

    &__text{
      font-size: 16px;
    }
  }


}

/* Hover Event */
@media (hover: hover){

}
/* -------------------------------------------- */
/* reason */
/* -------------------------------------------- */
.reason{
  padding: 45px 0;
  background: url(../images/pc-reason-bg.png) center /cover no-repeat;

  &__body{
    background-color: #fff;
    padding: 15px;
  }

  &__body-wrap{
    margin-top: 15px;
    background-color: #fff;
  }

  &__heading{
    background-color: #000;
    color: #fff;
    text-align: center;
  }

  &__list{
    padding: 15px 0;
    border: 1px solid #dee2e6;
  }

  &__list-con{
    padding: 0 15px;
  }

  &__item{
    border-bottom: 2px dotted #ccc;
    padding-bottom: 10px;
    margin-bottom: 10px;

    &:last-child{
      margin-bottom: 0;
    }
    
 
  }
}



@media (min-width: 768px) {
  .reason{
    padding: 120px 0;
  
    &__body{
      padding: 45px;
    }
  
    &__body-wrap{
      margin-top: 30px;
    }
  
    &__heading{

    }
  
    &__list{
      padding: 30px 0;
      display: flex;
    }

    &__list-con{
      width: 50%;
    }
  
    &__item{
      &:last-child{

      }
    }
  }

}

/* Hover Event */
@media (hover: hover){

}
/* -------------------------------------------- */
/* product */
/* -------------------------------------------- */
.product{
  background-color: #eee;
  padding: 45px 0;
}

.product-item{
  width: 100%;
  margin-top: 15px;

  &__cont{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &-bg--black{
    background: #000;
    padding: 15px;
  }

  &-bg--white{
    background: #fff;
    padding: 15px;
    margin-top: 15px;
  }

  &__title{
    font-size: 24px;
    font-size: 21px;
    text-align: center;
  }

  &__list{
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    margin-top: 12px;
  }

  &__list-item{
    font-size: 16px;
    width: 100%;
    margin-top: 3px;
  }

  &__desc{
    text-align: center;
    font-size: 16px;
    font-size: 15px;
  }

  &__price{
    margin: 15px 0;
    text-align: center;
  }

  &__price--before{
    text-decoration: line-through;
  }

  &__price--after{
    font-size: 36px;
    margin-left: 8px;
  }

  .yen{
    font-size: 16px;
  }

  &__detail{
    display: block;
    text-align: center;
    margin-top: 15px;
    font-size: 14px;
    color: #626262;
    text-decoration: underline;
  }
}

.doukonhin-btn{
  color: #fff;
  font-size: 12px;
  margin-top: 10px;
  display: inline-block;

  &::after{
    content: "\f107";
    font-family: "Font Awesome 5 free";
    font-weight: 900;
    margin-left: 8px;
  }

  &.active::after{
    content: "\f106";
  }
}

/* ----- 同梱品----- */
.doukonhin{
  background-color: #fff;
  padding: 1rem;
  margin-top: 15px;
  display: none;

  &__name{
    font-size: 16px;
  }

  &__list{
    line-height: 1.3;
    margin-top: 15px;
  }

  &__list-title{
    &:not(:first-child){
      margin-top: 15px;
    }
  }

  &__list-desc{
    font-size: 14px;
  }
}


@media (min-width: 768px) {
  .product{
    padding: 120px 0;
  }

  .product-item{
    width: calc((100% - 30px) / 2);

    &-bg--black{
      background: #000;
      padding: 30px;
    }
  
    &-bg--white{
      background: #fff;
      padding: 30px;
      margin-top: 20px;
    }

    &__title{
      font-size: 24px;
    }

    &__list-item{
      width: 50%;
      font-size: 18px;
    }

    &__desc{
      font-size: 16px;
    }
  
  }

  /* ----- 同梱品----- */
  .doukonhin{

    &__name{
      font-size: 18px;
    }

    &__list{
      margin-top: 30px;
    }
  }


}

/* Hover Event */
@media (hover: hover){

}
/* -------------------------------------------- */
/* compare */
/* -------------------------------------------- */
.compare{
  color: #fff;
  background-color: #000;
  text-align: center;
  padding: 90px 0 60px;

  &__heading{
    font-size: calc( 1.91rem + (3.6 - 1.91) * ((100vw - 20rem)/(48 - 20)));
  }

  &__desc{
    margin-top: 24px;
  }
  
  &__table{
    margin-top: 16px;
  }
}

@media (min-width: 765px) {


}

/* Hover Event */
@media (hover: hover){

}
/* -------------------------------------------- */
/* refund */
/* -------------------------------------------- */
.refund{
  background: url(../images/pc-refund-bg.png) center/cover no-repeat;
  padding: 45px 0;

  &__wrap{
    background: #fff;
    padding: 10px;
    margin-top: 30px;
  }
  
  &__border{
    border: 3px solid #fc2;
    border-image: linear-gradient(to bottom, #ECE29D 0%, #A5702E 100%);
  border-image-slice: 1;
    padding: 10px;
  }

  &__body{
    margin-top: 15px;
  }
}

@media (min-width: 765px) {
  .refund{
    padding: 120px 0;

    &__heading{
      text-align: center;
    }

    &__wrap{
      margin-top: 45px;
    }

    &__border{
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: row-reverse;
      padding: 30px;
    }

    &__image{
      width: 50%;
    }

    &__body{
      width: 49%;
      font-size: 18px;
    }

    &__desc:last-child{
      margin-top: 40px;
    }

    .font--l{
      font-size: 22px;
    }
  }

}

/* Hover Event */
@media (hover: hover){

}
/* -------------------------------------------- */
/* usage */
/* -------------------------------------------- */
.usage{
  text-align: center;
  padding: 45px 0 35px;

  &__youtube{
    margin-top: 30px;
    width: 100%;
    height: 100%;
    aspect-ratio: 16/9;

    iframe{
      width: 100%;
    }
  }

  &__about-sns{
    margin-top: 15px;
  }

  &__instructions{
    margin-top: 15px;
  }
}

.usage-list{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-top: 15px;

  &__item{
    padding: 0 5px;
  }

  &__link{
    background-color: #000;
    color: #fff;
    display: block;
    padding: 5px 0;
    text-align: center;
    width: 102px;
  }
}

@media (min-width: 765px) {
  .usage{
    padding: 120px 0 60px;
  
    &__youtube{
      margin-top: 60px;
    }
  
    &__about-sns{
      margin-top: 60px;
    }
  
    &__instructions{
      margin-top: 45px;
    }
  }
  
  .usage-list{
    margin-top: 30px;
  }

}

/* Hover Event */
@media (hover: hover){

}

/* -------------------------------------------- */
/* exam */
/* -------------------------------------------- */
.exam{
  background-color: #000;
  padding: 120px 0;
  padding: 45px 0;

  .db{
    display: block;
    text-align: center;

  }

  &__exam-image{
    margin-top: 30px;
  }

  &__arrow{
    margin-top: 15px;
  }
  
  &__date-image{
    margin-top: 15px;
  }
}

@media (min-width: 765px) {
  .exam{
    padding: 120px 0;

    &__exam-image{
      margin-top: 60px;
    }
  
    &__arrow{
      margin-top: 0px;
    }
    
    &__date-image{
      margin-top: 30px;
    }
  }

}

/* Hover Event */
@media (hover: hover){

}

/* -------------------------------------------- */
/* baseCoat */
/* -------------------------------------------- */
.baseCoat{
  background: #cdcdcd;
  padding: 45px 0 60px;
  font-size: 16px;

  &__cont{
    background: rgba(255,255,255,.6);
    padding: 15px;
    margin-top: 15px;
  }

  &__image{
    text-align: center;
  }
}

.baseCoat-body{
  margin-top: 15px;

  &__title{
    border-bottom: 2px solid #000;
    padding-bottom: 10px;
    font-size: 20px;
  }

  &__desc{
    margin-top: 15px;
  }

  &__subtitle{
    margin-bottom: -15px;
    margin-top: 15px;
  }
}

@media (min-width: 765px) {
  .baseCoat{
    padding: 120px 0;
    font-size: 18px;
  
    &__cont{
      padding: 45px;
      margin-top: 30px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  
    &__image{
      width: 33.3%;
      padding: 0 15px;
    }
  }
  
  .baseCoat-body{
    width: 66.6%;
    padding: 15px;

    &__title{
      padding-bottom: 20px;
      font-size: 30px;
    }
  
    &__desc{
      margin-top: 30px;
    }
  
    &__subtitle{
      margin-bottom: -30px;
      margin-top: 30px;
    }
  }

}

/* Hover Event */
@media (hover: hover){

}

/* -------------------------------------------- */
/* protect */
/* -------------------------------------------- */
.protect{
  padding: 45px 0;
  background-color: #eee;
  font-size: 16px;

  &__text{
    text-align: center;
    margin-top: 30px;
  }
}

.protect-desc{
  &__wrap{
    margin-top: 15px;
  }
  
  &__image{
    text-align: center;
  }

  &__image-complement{
    margin-top: 15px;
  }
}

.protect-arrow{
  text-align: center;
  margin-top: 15px;
}

.protect-bottom{
  background-color: #000;
  color: #fff;
  padding:  15px;
  margin-top: 15px;

  img{
    margin-top: -15px;
  }
}

@media (min-width: 765px) {
  .protect{
    padding: 120px 0;
    font-size: 18px;
  
    &__text{
      margin-top: 45px;
    }

    &-top{
      margin-top: 60px;
      display: flex;
      justify-content: center;

      .protect-desc__wrap{
        width: 410px;
        padding: 0 15px;
      }
    }
  }

  .protect-arrow{
    margin-top: 30px;
  }
  
  .protect-bottom{
    padding:  30px;
    margin: 30px auto 0;
    max-width: 790px;
  
    img{
      margin-top: auto;
    }

    .protect-desc__image{
      width: calc((100% - 30px) /2);
    }

    .protect-desc__wrap{
      display: flex;
      justify-content: space-between;
      margin-top: 0;
    }

    .protect-desc__image-complement{
      margin-top: 0;
    }

    &__image-complement-wrap{
      width: calc((100% - 30px) /2);
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }

}

/* Hover Event */
@media (hover: hover){

}

/* -------------------------------------------- */
/* workability */
/* -------------------------------------------- */
.workability{
  background: url(../images/pc-workability-bg.png) center/cover no-repeat;
  padding: 45px 0;

  &__wrap{
    background-color: rgba(255,255,255,.3);
    margin-top: 30px;
  }

  &__text-wrap{
    color: #fff;
    padding: 15px;
  }

  &__text{

    &.yellow{
      font-size: 21px;
      margin-top: 20px;
    }
  }

  &__image{
    width: 100%;
    margin-top: 15px;
  }
}

@media (min-width: 765px) {
  .workability{
    padding: 120px 0;
  
    &__wrap{
      margin-top: 60px;
      display: flex;
      padding: 45px;
    }
  
    &__text-wrap{
      font-size: 18px;
      padding: 15px;
      width: 60%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  
    &__text{
  
      &.yellow{
        font-size: 24px;
        margin-top: 20px;
      }
    }
  
    &__image{
      width: 40%;
      margin-top: 0px;
    }
  }

}

/* Hover Event */
@media (hover: hover){

}

/* -------------------------------------------- */
/* detail */
/* -------------------------------------------- */
.detail{
  padding: 45px 0;

  &__wrap-common{
    background-color: #eee;
    padding: 15px;
    margin-top: 15px;
  }


  &__common-heading{
    text-align: center;
    font-size: 30px;
    font-size: 21px;
  }

  &__common-desc{
    text-align: center;
    margin-top: 15px;
  }
}

/* 共通 */
.detail-card{
  margin-top: 15px;
  
  &__wrap{
    display: flex;
    flex-direction: column;
  }
  
  &__image{
    width: 100%;
    img{
      width: 100%;
    }
  }

  &__body{
    background: #000;
    color: #fff;
    padding: 15px;
  }
  
  &__title{
    text-align: center;
    font-size: 18px;
    line-height: 1;
  }
  
  &__desc{
    margin-top: 10px;
    font-size: 15px;
    word-break: break-all;
    line-height: 1.4;
    
  }
}

.hardness{

}

.br-none{
  display: none;
}

@media (min-width: 765px) {
  .detail{
    padding: 120px 0;

    &__wrap-common{
      padding: 45px 30px;
      margin-top: 30px;
    }

    &__common-heading{
      font-size: 30px;
    }
  
    &__common-desc{
      margin-top: 30px;
    }
  }
  
  /* 共通 */
  .detail-card{
    width: 33.333%;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    flex-direction: column;
    margin-top: 0;

    &.--2col{
      width: 50%;
    }
    
    &__wrap{
      flex-direction: row;
      margin-top: 30px;
    }

    &__body{
      padding: 30px;
      height: 100%;
    }
    
    &__title{
      font-size: 24px;
    }
    
    &__desc{
      margin-top: 20px;
      font-size: 16px;
      line-height: 1.65;
    }
  }

  .br-none{
    display: block;
  }

}

/* Hover Event */
@media (hover: hover){

}

/* -------------------------------------------- */
/* qaa */
/* -------------------------------------------- */
.qaa{
  background: url(../images/pc-qa-bg.png);
  padding: 45px 0;

  &__wrap{
    margin-top: 6px;
    padding-bottom: 26px;
  }

  &__body{
    margin-top: 24px;
  }

  &__common{
    padding: 15px;
    display: flex;
  }

  /* アイコン */
  &__icon{
    margin-right: 15px;
    min-width: 32px;
    width: 32px;
  }

  &__link{
    color:#008cff;
  }
}

/* 質問 */
.question{

  &__wrap{
    background-color: #000;
    color: #fff;
    position: relative;
    font-size: 18px;
    align-items: center;

    &::after{
      content: "\f078";
      font-family: "font awesome 5 free";
      font-weight: 900;
      position: absolute;
      width: 30px;
      height: 30px;
      background-color: #fff;
      color: #000;
      display: flex;
      justify-content: center;
      align-items: center;
      right: 15px;
      top: 15px;
      border-radius: 5px;
      transition: transform .3s;
    }

    &.active::after{
      transform: rotate(180deg);
    }
  }

  &__body{
    padding-right: 30px;
  }
}


/* 答え */
.answer{
  margin-top: 8px;
  display: none;
  
  &__wrap{
    background-color: #fff;
    font-size: 16px;
  }
  
  &__body{

    &-text{
      word-break: break-all;
    }
  }

  &__body-text:not(:first-child){
    margin-top: 16px;
  }
}

@media (min-width: 765px) {
  .qaa{
    padding: 120px 0;
  
    &__wrap{
      margin-top: 60px;
    }

    &__body{
      margin-top: 26px;
    }
  
    /* アイコン */
    &__icon{
      min-width: 50px;
      width: 50px;
    }
  }
  
  /* 質問 */
  .question{
    &__wrap{
      font-size: 24px;
      padding: 15px 30px;
  
      &::after{
        width: 45px;
        height: 45px;
        right: 30px;
      }
    }
  }
  
  
  /* 答え */
  .answer{
    
    &__wrap{
      font-size: 18px;
      padding: 30px;
    }
  }

}

/* Hover Event */
@media (hover: hover){

}

/* -------------------------------------------- */
/* cta */
/* -------------------------------------------- */
.cta{
  background: #000;
  padding: 15px 0 45px;
}

@media (min-width: 765px) {
  .cta{
    background: #000;
    padding: 30px 0 60px;
  }

}

/* Hover Event */
@media (hover: hover){

}

/* -------------------------------------------- */
/* footer */
/* -------------------------------------------- */
.footer{
  padding: 30px 0 120px;
  background: #000;
  color:#fff;
  font-family: "noto sans jp",sans-serif;

  &__fixed-bg{
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(../images/footer_bg.jpg)center/cover;
    padding: 15px 0;
    position: relative;
    text-align: center;
    background-attachment: fixed;
  }

  &__maintitle{
    line-height: 1;
    font-size: calc( 1.91rem + (3.6 - 1.91) * ((100vw - 20rem)/(48 - 20)));
    font-weight: 700;
  }
  
  &__subtitle{
    font-weight: 300;
    margin-top: 30px;
    padding-bottom: 16px;
    letter-spacing: -0.05em;
    font-size: calc( 1.14rem + (1.4 - 1.14) * ((100vw - 20rem)/(48 - 20)));
  }

  &__copyright{
    text-align: center;
    font-size: 1.2rem;
  }
}

.footer-nav{
  color: $linkColor;
  margin-top: 30px;

  &__list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__item{
    padding: 0 1rem 1rem;
    font-size: 1.2rem;
  }
}

@media (min-width: 765px) {
  .footer{
  
    &__maintitle{
      font-size: 3.6rem;
    }
    
    &__subtitle{
      font-size: 1.4rem;
    }
  }

}

/* Hover Event */
@media (hover: hover){

}

/* -------------------------------------------- */
/*  */
/* -------------------------------------------- */


@media (min-width: 765px) {


}

/* Hover Event */
@media (hover: hover){

}
