@charset "UTF-8";
/* ----- reset ----- */
* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body, h1, h2, h3, h4, h5, p, ul, li, ol, dl, dt, dd, figure, input, textarea {
  margin: 0;
  padding: 0;
  -webkit-text-size-adjust: 100%;
  list-style: none;
  outline: 0;
  appearance: none;
  -webkit-appearance: none;
  border-radius: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

input,
button,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: none;
  border-radius: 0;
  font: inherit;
  outline: none;
}

textarea {
  resize: vertical;
}

input[type=checkbox],
input[type=radio] {
  display: none;
}

input[type=submit],
input[type=button],
label,
button,
select {
  cursor: pointer;
}

select::-ms-expand {
  display: none;
}

/* ----- common ----- */
body {
  color: #232323;
  line-height: 1.5;
  position: relative;
  background-color: #fff;
}

.text-l {
  font-size: 16px;
  line-height: 1.4;
}

.inner {
  max-width: 768px;
  margin: 0 auto;
  width: 100%;
  padding: 0 15px;
}

.underline {
  border-bottom: 2px solid #000;
}
.underline.--white {
  border-bottom: 1px solid #fff;
}

.noto-sans {
  font-family: "noto sans jp", sans-serif;
}

.bold {
  font-weight: 700;
}

.red {
  color: #C20802;
}

.yellow {
  color: #fde625;
}

.highlight-yellow {
  background: linear-gradient(transparent 60%, #fde625 50%);
}

.checkmark::before {
  content: "\f058";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  margin-right: 0.6em;
}

.dn {
  display: none;
}

.db {
  display: block;
}

.link-common--blue {
  color: #008cff;
  font-weight: 400;
}

.sec-heading {
  text-align: center;
  font-weight: 700;
  white-space: nowrap;
  transform: skewX(-12deg);
  letter-spacing: 0.05em;
  line-height: 1.1;
}
.sec-heading.text-grad-black {
  background: -webkit-linear-gradient(93deg, #000000 0% 45%, #4d4d4d 45% 100%);
  color: #000000;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.sec-heading.text-grad-white {
  background: -webkit-linear-gradient(93deg, #dddddd 0% 45%, #ffffff 45% 100%);
  color: #fff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/*----- mv共通 ----- */
.mv-common__padding--top {
  padding: 120px 0 90px;
}
.mv-common__padding--l {
  padding: 120px 0 90px;
}
.mv-common__padding--s {
  padding: 75px 0 135px;
}
.mv-common__fixedbg {
  color: #fff;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/leo-bg.jpg) center/cover no-repeat;
  position: relative;
}
.mv-common__copy--s {
  text-align: center;
}
.mv-common__copy--l {
  margin-top: 30px;
  text-align: center;
}

.page {
  font-family: "noto sans jp", sans-serif;
}
.page__heading {
  font-size: calc(1.91rem + 1.69 * (100vw - 20rem) / 28);
  margin-top: 30px;
}
.page__sub-heading {
  font-size: calc(1.35rem + 0.65 * (100vw - 20rem) / 28);
  font-weight: 300;
  line-height: 1.3;
  margin-top: 24px;
  padding-bottom: 16px;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}
.flex.--jcsb {
  justify-content: space-between;
}
.flex.--jcc {
  justify-content: center;
}
.flex.--aic {
  align-items: center;
}

.col-2 {
  width: 100%;
}

.col-3 {
  width: 100%;
}

/*----- 下層ページ共通 -----*/
.page__sec-heading {
  font-size: calc(1.35rem + 0.65 * (100vw - 20rem) / 28);
  line-height: 1.2;
  letter-spacing: -0.05em;
}
.page__sec-heading.--mt16 {
  margin-top: 16px;
}
.page__sec-heading.--mt24 {
  margin-top: 24px;
}
.page__text {
  font-size: 1.2rem;
  line-height: 1.6;
}
.page__text.--mt16 {
  margin-top: 16px;
}
.page__text.--mt24 {
  margin-top: 24px;
}
.page__fixed-bg {
  background-size: cover;
  background-repeat: no-repeat;
}
.page__fixed-bg.--l-car {
  background-image: url(../images/triple/doukonhinn-bg-2.jpg);
  background-attachment: fixed;
  background-position: center;
}
.page__fixed-bg.--s-car {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/history/fixed-bg-car.jpeg);
  background-attachment: fixed;
  background-position: center;
}
.page__fixed-bg.--machine {
  background-image: linear-gradient(rgba(35, 35, 35, 0.6), rgba(35, 35, 35, 0.6)), url(../images/history/fixed-bg-machine.jpeg);
  background-attachment: fixed;
  background-position: center;
}
.page__fixed-bg.--xl-car {
  background-image: linear-gradient(rgba(0, 140, 255, 0.4), rgba(0, 140, 255, 0.4)), url(../images/maintenance/fixedbg.jpg);
  background-attachment: fixed;
}

@media (min-width: 576px) {
  .page-inner {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .page-inner {
    max-width: 600px;
  }
}
@media (min-width: 992px) {
  .page-inner {
    max-width: 640px;
  }
}
@media (min-width: 1140px) {
  .page-inner {
    max-width: 800px;
  }
}
@media (min-width: 1200px) {
  .page-inner {
    max-width: 950px;
  }
}
@media (min-width: 765px) {
  .mv-common__padding--top {
    padding: 120px 0 75px;
  }
  .mv-common__padding--l {
    padding: 210px 0 180px;
  }
  .mv-common__padding--s {
    padding: 75px 0 135px;
  }
  .mv-common__copy--l {
    margin-top: 60px;
  }
  .page__heading {
    font-size: 3.6rem;
    margin-top: 34px;
  }
  .page__sub-heading {
    font-size: 2rem;
  }
  /*----- 下層ページ共通 -----*/
  .page__sec-heading {
    font-size: 2rem;
  }
  .page__text {
    font-size: 1.2rem;
    line-height: 1.6;
  }
  .page__text.--mt16 {
    margin-top: 16px;
  }
  .col-2 {
    width: 50%;
  }
  .col-3 {
    width: 50%;
  }
}
@media (min-width: 992px) {
  .col-3 {
    width: 33.333%;
  }
}
/* ----- ボタン関連----- */
.amznbtn {
  color: #fff;
  font-weight: 700;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  background: #FF9900;
  border-radius: 100px;
  letter-spacing: 1px;
  line-height: 1;
  display: block;
}
.amznbtn.--nav {
  font-size: 0.75rem;
  padding: 0.4rem 1.5rem;
  margin: 0.4rem 0 16px;
  font-weight: 500;
  display: flex;
  align-items: center;
  font-family: "noto sans jp", sans-serif;
}
.amznbtn.--icon::before {
  content: "\f270";
  font-weight: 400;
  font-family: "Font Awesome 5 Brands";
  margin-right: 0.5rem;
  font-size: 1rem;
  line-height: 1;
}
.amznbtn.l-amznbtn {
  font-size: 1.125rem;
  font-weight: 700;
  border-radius: 45px;
  max-width: 400px;
  padding: 20px 20px 15px;
  line-height: 1.65;
}
.amznbtn.s-amznbtn {
  padding: 15px 20px 10px;
  max-width: 300px;
  font-size: 1rem;
  line-height: 1.4em;
}
.amznbtn.ss-amznbtn {
  font-size: 0.75rem;
  padding: 16px 48px;
  display: inline-block;
  line-height: 1;
  font-family: "noto sans JP";
  text-align: center;
}

.--arrow {
  display: block;
  position: relative;
}
.--arrow::before {
  content: "";
  width: 8px;
  height: 8px;
  border-top: 3px solid #fff;
  border-right: 3px solid #fff;
  position: absolute;
  right: 15px;
  top: 50%;
  transform: rotate(45deg) translateX(-50%);
}

.btn-mt15 {
  margin-top: 15px;
}

.btn-mt30 {
  margin-top: 30px;
}

.btn-mb45 {
  margin-bottom: 45px;
}

@media (min-width: 576px) {
  .inner {
    max-width: 540px;
  }
}
.mt30 {
  margin-top: 30px;
}

@media (min-width: 768px) {
  .inner {
    max-width: 720px;
  }
  .text-l {
    font-size: 18px;
    line-height: 1.65;
  }
  .dn {
    display: inline-block;
  }
  .mt30 {
    margin-top: 60px;
  }
  /* ----- ボタン関連----- */
  /* amazonボタン */
  .amznbtn {
    /* アイコン付きボタン */
    /* 幅広 */
    /* 小さめ */
    /* 極小 */
  }
  .amznbtn.--icon::before {
    font-size: 1.625rem;
  }
  .amznbtn.l-amznbtn {
    font-size: 1.5rem;
  }
  .amznbtn.s-amznbtn {
    font-size: 1.125rem;
    padding: 15px 20px 10px;
    max-width: 300px;
    line-height: 1.65em;
  }
  .amznbtn.ss-amznbtn {
    font-size: 1rem;
    padding: 16px 48px;
  }
  /* ボタン用margin */
  .btn-mt15 {
    margin-top: 45px;
  }
  .btn-mt30 {
    margin-top: 75px;
  }
  .btn-mb45 {
    margin-bottom: 60px;
  }
}
@media (min-width: 992px) {
  .inner {
    max-width: 960px;
  }
}
@media (min-width: 1024px) {
  /* amazonボタン */
  .amznbtn {
    /* nav内 */
  }
  .amznbtn.--nav {
    font-size: 1rem;
    margin: 0 0 0 0.8rem;
    align-items: center;
  }
}
@media (min-width: 1140px) {
  .inner {
    max-width: 1140px;
  }
}
/* Hover Event */
@media (hover: hover) {
  .amznbtn,
  a:not(.modal-open) {
    transition: opacity 0.3s;
  }
  .amznbtn:hover,
  a:not(.modal-open):hover {
    opacity: 0.7;
  }
}
/* -------------------------------------------- */
/* header */
/* -------------------------------------------- */
.header {
  background-color: #000;
  color: #fff;
  position: fixed;
  width: 100%;
  z-index: 3;
  padding: 0.5rem 0;
  transition: padding 0.25s;
  /* ナビ部分*/
}
.header.scroll {
  padding: 0;
}
.header__wrap {
  padding: 0 1rem;
}
.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  display: none;
}

/* logo */
.site-logo {
  min-height: 3.8rem;
  display: flex;
  align-items: center;
}
.site-logo__link {
  display: inline-block;
  height: 100%;
}
.site-logo__image {
  width: 165px;
  min-width: 165px;
  transition: all 0.25s;
  /* スクロールで小さくなる */
}
.site-logo__image.scroll {
  width: 130px;
  min-width: 130px;
}

/*----- ハンバーガーメニュー -----*/
.burger {
  width: 30px;
  height: 30px;
  position: relative;
  color: #000;
  cursor: pointer;
  z-index: 3;
}

/* ハンバーガーメニューのバー */
.bar {
  width: 100%;
  height: 2px;
  border-radius: 6px;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0);
  transition: all 0.2s;
}

.bar:nth-of-type(1) {
  transform: translate(-50%, 8px);
}

.bar:nth-of-type(3) {
  transform: translate(-50%, -8px);
}

/* バーガーメニューにactiveクラスが着いた時 */
.burger.active .bar:nth-of-type(2) {
  opacity: 0;
}

.burger.active .bar:nth-of-type(1) {
  transform: translateX(-50%) rotate(-45deg);
}

.burger.active .bar:nth-of-type(3) {
  transform: translateX(-50%) rotate(45deg);
}

/* ナビメニューにactiveクラスが着いた時 */
.header__bottom.active {
  display: flex;
}

@media (min-width: 1024px) {
  .header__wrap {
    display: flex;
    align-items: center;
    padding: 0 5rem;
  }
  .header__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header__bottom {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
  /* ---- ハンバーガーメニュー -----*/
  .burger {
    display: none;
  }
  .header-nav__list {
    display: flex;
    flex-wrap: wrap;
  }
}
/* -------------------------------------------- */
/* nav関連 */
/* -------------------------------------------- */
.nav {
  font-weight: 500;
  font-family: "noto sans jp";
}

.header-nav__list {
  text-align: center;
  line-height: 1;
}
.header-nav__link {
  padding: 0.7em 0;
  margin: 0 0.65rem;
  display: inline-block;
  font-weight: 500;
}

/*見出しの画像 */
.heading-image {
  display: block;
  text-align: center;
}

/* -------------------------------------------- */
/* mvの見出し */
/* -------------------------------------------- */
/*----- Topページ -----*/
.mv-small-copy {
  font-size: 4.2666666667vw;
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.1em;
  white-space: nowrap;
}

.mv-small-copy--bold {
  font-size: 5.8666666667vw;
}

.mv-large-copy {
  text-align: center;
  font-weight: 900;
  white-space: nowrap;
  margin-top: 30px;
}
.mv-large-copy--top {
  font-size: 8.5333333333vw;
  letter-spacing: 0.05em;
  line-height: 1.2;
  text-shadow: 0px 0px 1px #fff;
}
.mv-large-copy--top .mv-large-copy--small {
  font-size: 5.3333333333vw;
  text-shadow: 0px 0px 1px #fff;
}
.mv-large-copy--bottom {
  font-size: 11.2vw;
  transform: skewX(-12deg);
  letter-spacing: 0.05em;
}
.mv-large-copy--bottom .mv-large-copy--small {
  font-size: 8vw;
  letter-spacing: 0.05em;
}
.mv-large-copy.--text-gradeient {
  background: -webkit-linear-gradient(93deg, #000000 0% 45%, #4d4d4d 45% 100%);
  color: #000000;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/*----- leocoatページ ----- */
.mv-small-copy.--superleocoat {
  color: #fff;
  font-size: 9.3333333333vw;
}

.mv-large-copy.--superleocoat {
  color: #fff;
}

.mv-large-copy--top.--superleocoat {
  font-size: 8.5333333333vw;
  letter-spacing: 0.05em;
  line-height: 1.5;
}
.mv-large-copy--top.--superleocoat .mv-large-copy--small {
  font-size: 6.6666666667vw;
  letter-spacing: -0.1em;
}

.mv-large-copy--bottom.--superleocoat {
  font-size: 17.0666666667vw;
  letter-spacing: 0.05em;
  line-height: 1;
}
.mv-large-copy--bottom.--superleocoat .mv-large-copy--small {
  font-size: 12vw;
  letter-spacing: -0.1em;
}
.mv-large-copy--bottom.--text-gradeient {
  background: -webkit-linear-gradient(93deg, #dddddd 0% 45%, #ffffff 45% 100%);
  color: #fff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* ----- maintenanceページ ----- */
.mv-small-copy.--maintenance {
  color: #fff;
  font-size: 5.0666666667vw;
  font-weight: 300;
  line-height: 1.4;
}

.mv-large-copy.--maintenance {
  color: #fff;
  line-height: 1;
}

.mv-large-copy--top.--maintenance {
  font-size: 10.6666666667vw;
  line-height: 1.4;
}
.mv-large-copy--top.--maintenance .mv-large-copy--small {
  font-size: 6.9333333333vw;
  letter-spacing: -0.1em;
}

.mv-large-copy--bottom.--maintenance {
  font-size: 17.3333333333vw;
  letter-spacing: -0.01em;
  line-height: 1.1;
}
.mv-large-copy--bottom.--maintenance .mv-large-copy--small {
  font-size: 10.6666666667vw;
  letter-spacing: -0.1em;
}
.mv-large-copy--bottom.--text-gradeient {
  background: -webkit-linear-gradient(93deg, #dddddd 0% 45%, #ffffff 45% 100%);
  color: #000000;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.mv-large-copy--bottom--pc {
  display: none;
}

@media (min-width: 600px) {
  /*----- Topページ -----*/
  .mv-small-copy {
    font-size: 4vw;
    letter-spacing: 0;
  }
  .mv-small-copy--bold {
    font-size: 5vw;
  }
  .mv-large-copy {
    margin-top: 60px;
  }
  .mv-large-copy--top {
    font-size: 6vw;
  }
  .mv-large-copy--top .mv-large-copy--small {
    font-size: 4.1666666667vw;
  }
  .mv-large-copy--bottom {
    font-size: 8.3333333333vw;
    letter-spacing: 0;
  }
  .mv-large-copy--bottom .mv-large-copy--small {
    font-size: 7.5vw;
  }
  /*----- leocoatページ ----- */
  .mv-small-copy.--superleocoat {
    font-size: 40px;
  }
  .mv-large-copy--top.--superleocoat {
    font-size: 7vw;
  }
  .mv-large-copy--top.--superleocoat .mv-large-copy--small {
    font-size: 6vw;
  }
  .mv-large-copy--bottom.--superleocoat {
    font-size: 13.3333333333vw;
  }
  .mv-large-copy--bottom.--superleocoat .mv-large-copy--small {
    font-size: 9.1666666667vw;
  }
  /* ----- maintenanceページ ----- */
  .mv-small-copy.--maintenance {
    font-size: 30px;
  }
  .mv-large-copy.--maintenance {
    color: #fff;
  }
  .mv-large-copy--top.--maintenance {
    font-size: 60px;
    line-height: 1.2;
  }
  .mv-large-copy--top.--maintenance .mv-large-copy--small {
    font-size: 40px;
    letter-spacing: -0.1em;
  }
  .mv-large-copy--bottom.--maintenance {
    font-size: 95px;
  }
  .mv-large-copy--bottom.--maintenance .mv-large-copy--small {
    font-size: 60px;
  }
}
@media (min-width: 768px) {
  /* ----- maintenanceページ ----- */
  .mv-small-copy.--maintenance {
    font-size: 32px;
  }
  .mv-large-copy.--maintenance {
    color: #fff;
  }
  .mv-large-copy--top.--maintenance {
    font-size: 50px;
  }
  .mv-large-copy--top.--maintenance .mv-large-copy--small {
    font-size: 40px;
  }
  .mv-large-copy--bottom.--maintenance {
    font-size: 86px;
  }
  .mv-large-copy--bottom.--maintenance .mv-large-copy--small {
    font-size: 60px;
  }
  .mv-large-copy--bottom--sp {
    display: none;
  }
  .mv-large-copy--bottom--pc {
    display: block;
  }
}
@media (min-width: 992px) {
  /*----- Topページ -----*/
  .mv-small-copy {
    font-size: 30px;
    letter-spacing: 0.1em;
  }
  .mv-small-copy--bold {
    font-size: 36px;
  }
  .mv-large-copy--top {
    font-size: 78px;
  }
  .mv-large-copy--top .mv-large-copy--small {
    font-size: 65px;
  }
  .mv-large-copy--bottom {
    font-size: 120px;
    letter-spacing: 0.05em;
  }
  .mv-large-copy--bottom .mv-large-copy--small {
    font-size: 80px;
  }
  /*----- leocoatページ ----- */
  .mv-small-copy.--superleocoat {
    font-size: 30px;
  }
  .mv-large-copy--top.--superleocoat {
    font-size: 80px;
  }
  .mv-large-copy--top.--superleocoat .mv-large-copy--small {
    font-size: 70px;
  }
  .mv-large-copy--bottom.--superleocoat {
    font-size: 150px;
  }
  .mv-large-copy--bottom.--superleocoat .mv-large-copy--small {
    font-size: 95px;
  }
  /* ----- maintenanceページ ----- */
  .mv-small-copy.--maintenance {
    font-size: 30px;
  }
  .mv-large-copy--top.--maintenance {
    font-size: 72px;
  }
  .mv-large-copy--top.--maintenance .mv-large-copy--small {
    font-size: 50px;
  }
  .mv-large-copy--bottom.--maintenance {
    font-size: 115px;
  }
  .mv-large-copy--bottom.--maintenance .mv-large-copy--small {
    font-size: 84px;
  }
}
@media (min-width: 1140px) {
  /* ----- maintenanceページ ----- */
  .mv-large-copy--top.--maintenance {
    font-size: 80px;
  }
  .mv-large-copy--top.--maintenance .mv-large-copy--small {
    font-size: 60px;
  }
  .mv-large-copy--bottom.--maintenance {
    font-size: 130px;
  }
  .mv-large-copy--bottom.--maintenance .mv-large-copy--small {
    font-size: 100px;
  }
}
/* -------------------------------------------- */
/* top-mv */
/* -------------------------------------------- */
.top {
  font-family: "ヒラギノ角ゴ pro", sans-serif;
}

.mv-top {
  background: url(../images/pc-mv-bg.png) center/cover no-repeat;
}
.mv-top__heading {
  margin-top: 30px;
}

.mv-bottom {
  background-color: #000;
  position: relative;
  padding-bottom: 45px;
}
.mv-bottom__image {
  position: relative;
  top: -90px;
  width: 100%;
  display: block;
}
.mv-bottom__image img {
  width: 100%;
}

/* 限定 */
.gentei {
  position: relative;
  background: linear-gradient(to bottom, #ece29d, #a6702e);
  width: 100%;
  padding: 1.5% 2%;
  margin-top: -90px;
}
.gentei__wrap {
  padding: 2% 2%;
  background-color: #fff;
}

.gentei-body {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.gentei-body__right {
  margin-top: 15px;
}
.gentei-body__desc {
  margin-top: 15px;
}

@media (min-width: 768px) {
  .mv-top__heading {
    margin-top: 60px;
  }
  .mv-bottom {
    padding-bottom: 60px;
  }
  /* 限定 */
  .gentei__wrap {
    padding: 45px;
  }
  .gentei-body {
    flex-direction: row;
    justify-content: space-between;
  }
  .gentei-body .gentei-handbook {
    width: 25%;
  }
  .gentei-body__left {
    width: 30%;
  }
  .gentei-body__right {
    width: 70%;
    padding: 0 15px;
    margin-top: 0;
  }
  .gentei-body__desc {
    font-size: 16px;
    margin-top: 30px;
  }
}
/* -------------------------------------------- */
/* reason */
/* -------------------------------------------- */
.reason {
  padding: 45px 0;
  background: url(../images/pc-reason-bg.png) center/cover no-repeat;
}
.reason__heading {
  font-size: 8vw;
}
.reason__heading .header-parts--enpha {
  font-size: 10.6666666667vw;
  line-height: 1;
}
.reason__heading.--pc {
  display: none;
}

.reason-body {
  background-color: #fff;
  padding: 15px;
  margin-top: 30px;
}
.reason-body__wrap {
  margin-top: 15px;
  background-color: #fff;
}

.reason-body-list {
  padding: 15px 0;
  border: 1px solid #dee2e6;
}
.reason-body-list__con {
  padding: 0 15px;
}
.reason-body-list__con:last-child {
  margin-bottom: -10px;
}
.reason-body-list__item {
  border-bottom: 2px dotted #ccc;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

@media (min-width: 600px) {
  .reason__heading {
    font-size: 44px;
  }
  .reason__heading .header-parts--enpha {
    font-size: 60px;
  }
}
@media (min-width: 768px) {
  .reason {
    padding: 120px 0;
  }
  .reason__heading.--sp {
    display: none;
  }
  .reason__heading.--pc {
    display: block;
    font-size: 47px;
  }
  .reason__heading.--pc .header-parts--enpha {
    font-size: 65px;
  }
  .reason__list {
    padding: 30px 0;
    display: flex;
  }
  .reason__list-con {
    width: 50%;
  }
  .reason-body {
    padding: 45px;
    margin-top: 45px;
  }
  .reason-body__wrap {
    margin-top: 30px;
  }
  .reason-body-list {
    padding: 30px;
    border: 1px solid #dee2e6;
    display: flex;
  }
  .reason-body-list__con {
    padding: 0 15px;
    width: 50%;
  }
  .reason-body-list__item {
    font-size: 18px;
  }
  .mb0 {
    margin-bottom: 0;
  }
}
@media (min-width: 992px) {
  .reason__heading.--pc {
    font-size: 50px;
  }
}
/* -------------------------------------------- */
/* ceo */
/* -------------------------------------------- */
.ceo {
  padding: 45px 0;
  background-color: #4d4d4d;
  color: #fff;
}
.ceo__heading {
  font-size: 9.6vw;
}
.ceo__image {
  margin-top: 30px;
}
.ceo__desc {
  margin-top: 30px;
  font-size: 20px;
}

@media (min-width: 600px) {
  .ceo__heading {
    font-size: 45px;
  }
}
@media (min-width: 768px) {
  .ceo {
    padding: 120px 0;
  }
  .ceo__heading {
    font-size: 52px;
  }
  .ceo__image {
    margin-top: 60px;
  }
  .ceo__desc {
    margin-top: 45px;
    font-size: 22px;
  }
}
/* -------------------------------------------- */
/* product */
/* -------------------------------------------- */
.product {
  background-color: #eee;
  padding: 45px 0;
}
.product__heading {
  font-size: 8vw;
}

.product-item {
  width: 100%;
  margin-top: 30px;
}
.product-item__image {
  width: 100%;
}
.product-item__image img {
  width: 100%;
}
.product-item-bg--black {
  background: #000;
  padding: 15px;
}
.product-item-bg--white {
  background: #fff;
  padding: 15px;
  margin-top: 15px;
}
.product-item__title {
  font-size: 21px;
  text-align: center;
}
.product-item__list {
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  margin-top: 12px;
}
.product-item__list-item {
  font-size: 16px;
  width: 100%;
  margin-top: 3px;
}
.product-item__desc {
  text-align: center;
  font-size: 15px;
}
.product-item__price {
  margin: 15px 0;
  text-align: center;
}
.product-item__price--before {
  text-decoration: line-through;
}
.product-item__price--after {
  font-size: 36px;
  margin-left: 8px;
}
.product-item .yen {
  font-size: 16px;
}
.product-item__detail {
  display: block;
  text-align: center;
  margin-top: 15px;
  font-size: 14px;
  color: #626262;
  text-decoration: underline;
}

.doukonhin-btn {
  color: #008cff;
  font-size: 12px;
  margin-top: 10px;
  display: inline-block;
}
.doukonhin-btn::after {
  content: "\f107";
  font-family: "Font Awesome 5 free";
  font-weight: 900;
  margin-left: 8px;
}
.doukonhin-btn.active::after {
  content: "\f106";
}

/* ----- 同梱品----- */
.doukonhin {
  background-color: #fff;
  padding: 1rem;
  margin-top: 15px;
  display: none;
}
.doukonhin__name {
  font-size: 16px;
}
.doukonhin__list {
  line-height: 1.3;
  margin-top: 15px;
}
.doukonhin__list-title:not(:first-child) {
  margin-top: 15px;
}
.doukonhin__list-desc {
  font-size: 14px;
}

@media (min-width: 600px) {
  .product__heading {
    font-size: 45px;
  }
}
@media (min-width: 768px) {
  .product {
    padding: 120px 0;
  }
  .product__heading {
    font-size: 52px;
  }
  .product-item {
    margin-top: 45px;
  }
  .product-item-bg--black {
    padding: 30px;
  }
  .product-item-bg--white {
    padding: 30px;
    margin-top: 20px;
  }
  .product-item__title {
    font-size: 24px;
  }
  .product-item__list-item {
    width: 50%;
    font-size: 18px;
  }
  .product-item__desc {
    font-size: 16px;
  }
  /* ----- 同梱品----- */
  .doukonhin__name {
    font-size: 18px;
  }
  .doukonhin__list {
    margin-top: 30px;
  }
}
@media (min-width: 992px) {
  .product-item {
    width: calc((100% - 30px) / 2);
  }
}
/* -------------------------------------------- */
/* compare */
/* -------------------------------------------- */
.compare {
  color: #fff;
  background-color: #000;
  text-align: center;
  padding: 90px 0 60px;
}
.compare__heading {
  font-size: calc(1.91rem + 1.69 * (100vw - 20rem) / 28);
}
.compare__desc {
  margin-top: 24px;
}
.compare__table {
  margin-top: 16px;
}

@media (min-width: 765px) {
  .compare {
    color: #fff;
    background-color: #000;
    text-align: center;
    padding: 90px 0 60px;
  }
  .compare__heading {
    font-size: 3.6rem;
  }
  .compare__desc {
    margin-top: 24px;
  }
  .compare__table {
    margin-top: 16px;
  }
}
/* -------------------------------------------- */
/* refund */
/* -------------------------------------------- */
.refund {
  background: url(../images/pc-refund-bg.png) center/cover no-repeat;
  padding: 45px 0;
}
.refund__wrap {
  background: #fff;
  padding: 10px;
  margin-top: 30px;
}
.refund__border {
  border: 3px solid #fc2;
  border-image: linear-gradient(to bottom, #ECE29D 0%, #A5702E 100%);
  border-image-slice: 1;
  padding: 10px;
}
.refund__body {
  margin-top: 15px;
}

@media (min-width: 765px) {
  .refund {
    padding: 120px 0;
  }
  .refund__heading {
    text-align: center;
  }
  .refund__wrap {
    margin-top: 45px;
  }
  .refund__border {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
    padding: 30px;
  }
  .refund__image {
    width: 50%;
  }
  .refund__body {
    width: 49%;
    font-size: 18px;
  }
  .refund__desc:last-child {
    margin-top: 40px;
  }
  .refund .font--l {
    font-size: 22px;
  }
}
/* -------------------------------------------- */
/* usage */
/* -------------------------------------------- */
.usage {
  text-align: center;
  padding: 45px 0 35px;
}
.usage__heading {
  font-size: 7.7333333333vw;
}
.usage__heading-desc {
  margin-top: 16px;
  font-weight: 700;
  font-size: 14px;
  font-size: 3.7333333333vw;
  letter-spacing: 0.1em;
}
.usage__youtube {
  margin-top: 30px;
  width: 100%;
  height: 100%;
  aspect-ratio: 16/9;
}
.usage__youtube iframe {
  width: 100%;
}
.usage__about-sns {
  margin-top: 15px;
}
.usage__instructions {
  margin-top: 15px;
}

.usage-list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-top: 15px;
}
.usage-list__item {
  padding: 0 5px;
}
.usage-list__link {
  background-color: #000;
  color: #fff;
  display: block;
  padding: 5px 0;
  text-align: center;
  width: 102px;
}

/* ----- スライダー ----- */
.container {
  position: relative;
  height: auto;
}

.instaSwiper {
  margin-top: 15px;
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
  height: auto;
}

.swiper-slide {
  opacity: 0.3;
  width: 100%;
  height: auto;
  overflow: hidden;
  transition: opacity 0.3s;
  margin: 100px 0;
  box-shadow: 1px 1px 10px rgba(146, 143, 143, 0.2);
}
.swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-slide-active {
  opacity: 1;
  z-index: 1;
}

/* ボタン */
.swiper-button-prev,
.swiper-button-next {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  border: 2px solid #fff;
  width: 40px;
  height: 40px;
}
.swiper-button-prev::after,
.swiper-button-next::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  left: 50%;
  top: 50%;
  border-left: 2px solid #fff;
  border-top: 2px solid #fff;
}

/* 前へ */
.swiper-button-prev::after {
  transform: translate(-35%, -50%) rotate(315deg);
}

/* 次へ */
.swiper-button-next::after {
  transform: translate(-65%, -50%) rotate(135deg);
}

/* ページネーション */
.swiper-pagination-bullet {
  width: 16px;
  height: 16px;
  border: 1px solid #ddd;
}

.swiper-pagination-bullet-active {
  background: #000;
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: -10px;
}

.swiper-pagination {
  display: none;
}

/* ----- モーダル本体の指定 + モーダル外側の背景の指定 -----*/
.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  background: rgba(0, 0, 0, 0.8);
  padding: 40px 20px;
  overflow: auto;
  opacity: 0;
  visibility: hidden;
  z-index: 100;
}

.modal-container.active {
  opacity: 1;
  visibility: visible;
  transition: 0.3s;
}

.modal-body {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  max-width: 900px;
  width: 90%;
  top: 10%;
}

.modal-close {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: -40px;
  right: -40px;
  width: 40px;
  height: 40px;
  font-size: 40px;
  color: #fff;
  cursor: pointer;
}

.modal-content {
  position: absolute;
  width: 100%;
  background: #fff;
  padding: 30px;
}
.modal-content img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.fancybox__counter {
  display: none;
}

@media (min-width: 765px) {
  .usage {
    padding: 120px 0 120px;
  }
  .usage__heading {
    font-size: 50px;
  }
  .usage__heading-desc {
    font-size: 24px;
  }
  .usage__youtube {
    margin-top: 60px;
  }
  .usage__about-sns {
    margin-top: 60px;
  }
  .usage__instructions {
    margin-top: 45px;
  }
  .usage-list {
    margin-top: 30px;
  }
  /* ----- スライダー ----- */
  .instaSwiper {
    margin-top: 120px;
  }
  /* ボタン */
  .swiper-button-prev,
  .swiper-button-next {
    width: 60px;
    height: 60px;
  }
  .swiper-button-prev::after,
  .swiper-button-next::after {
    width: 15px;
    height: 15px;
  }
  /* ページネーション */
  .swiper-pagination {
    display: block;
  }
}
/* -------------------------------------------- */
/* exam */
/* -------------------------------------------- */
.exam {
  background-color: #000;
  padding: 45px 0;
}
.exam__heading {
  font-size: 6.9333333333vw;
}
.exam .db {
  display: block;
  text-align: center;
}
.exam__exam-image {
  margin-top: 30px;
}
.exam__arrow {
  margin-top: 15px;
}
.exam__date-image {
  margin-top: 15px;
}

@media (min-width: 600px) {
  .exam__heading {
    font-size: 40px;
  }
}
@media (min-width: 765px) {
  .exam {
    padding: 120px 0;
  }
  .exam__heading {
    font-size: 50px;
  }
  .exam__exam-image {
    margin-top: 60px;
  }
  .exam__arrow {
    margin-top: 0px;
  }
  .exam__date-image {
    margin-top: 30px;
  }
}
/* -------------------------------------------- */
/* baseCoat */
/* -------------------------------------------- */
.baseCoat {
  background: #cdcdcd;
  padding: 45px 0 60px;
  font-size: 16px;
}
.baseCoat__heading {
  font-size: 7.7333333333vw;
}
.baseCoat__cont {
  background: #EAEAEA;
  padding: 15px;
  margin-top: 15px;
}
.baseCoat__image {
  text-align: center;
}

.baseCoat-body {
  margin-top: 15px;
}
.baseCoat-body__title {
  border-bottom: 2px solid #000;
  padding-bottom: 10px;
  font-size: 20px;
}
.baseCoat-body__desc {
  margin-top: 15px;
}
.baseCoat-body__subtitle {
  margin-bottom: -15px;
  margin-top: 15px;
}

@media (min-width: 600px) {
  .baseCoat__heading {
    font-size: 45px;
  }
}
@media (min-width: 768px) {
  .baseCoat {
    padding: 120px 0;
    font-size: 18px;
  }
  .baseCoat__heading {
    font-size: 46px;
  }
  .baseCoat__heading br {
    display: none;
  }
  .baseCoat__cont {
    padding: 45px;
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .baseCoat__image {
    width: 33.3%;
    padding: 0 15px;
  }
  .baseCoat-body {
    width: 66.6%;
    padding: 15px;
  }
  .baseCoat-body__title {
    padding-bottom: 20px;
    font-size: 30px;
  }
  .baseCoat-body__desc {
    margin-top: 30px;
  }
  .baseCoat-body__subtitle {
    margin-bottom: -30px;
    margin-top: 30px;
  }
}
@media (min-width: 992px) {
  .baseCoat__heading {
    font-size: 50px;
  }
}
/* -------------------------------------------- */
/* protect */
/* -------------------------------------------- */
.protect {
  padding: 45px 0;
  background-color: #eee;
  font-size: 16px;
}
.protect__text {
  text-align: center;
  margin-top: 30px;
}

.protect-desc__wrap {
  margin-top: 15px;
}
.protect-desc__image {
  text-align: center;
}
.protect-desc__image-complement {
  margin-top: 15px;
}

.protect-arrow {
  text-align: center;
  margin-top: 15px;
}

.protect-bottom {
  background-color: #000;
  color: #fff;
  padding: 15px;
  margin-top: 15px;
}
.protect-bottom img {
  margin-top: -15px;
}

@media (min-width: 765px) {
  .protect {
    padding: 120px 0;
    font-size: 18px;
  }
  .protect__text {
    margin-top: 45px;
  }
  .protect-top {
    margin-top: 60px;
    display: flex;
    justify-content: center;
  }
  .protect-top .protect-desc__wrap {
    width: 410px;
    padding: 0 15px;
  }
  .protect-arrow {
    margin-top: 30px;
  }
  .protect-bottom {
    padding: 30px;
    margin: 30px auto 0;
    max-width: 790px;
  }
  .protect-bottom img {
    margin-top: auto;
  }
  .protect-bottom .protect-desc__image {
    width: calc((100% - 30px) / 2);
  }
  .protect-bottom .protect-desc__wrap {
    display: flex;
    justify-content: space-between;
    margin-top: 0;
  }
  .protect-bottom .protect-desc__image-complement {
    margin-top: 0;
  }
  .protect-bottom__image-complement-wrap {
    width: calc((100% - 30px) / 2);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
/* -------------------------------------------- */
/* workability */
/* -------------------------------------------- */
.workability {
  background: url(../images/pc-workability-bg.png) center/cover no-repeat;
  padding: 45px 0;
}
.workability__heading {
  font-size: 8vw;
}
.workability__wrap {
  background-color: rgba(255, 255, 255, 0.3);
  margin-top: 30px;
}
.workability__text-wrap {
  color: #fff;
  padding: 15px;
}
.workability__text.yellow {
  font-size: 21px;
  margin-top: 20px;
}
.workability__image {
  width: 100%;
  padding: 15px;
}

@media (min-width: 600px) {
  .workability__heading {
    font-size: 45px;
  }
}
@media (min-width: 765px) {
  .workability {
    padding: 120px 0;
  }
  .workability__heading {
    font-size: 50px;
  }
  .workability__wrap {
    margin-top: 60px;
    display: flex;
    padding: 45px;
  }
  .workability__text-wrap {
    font-size: 18px;
    padding: 15px;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .workability__text.yellow {
    font-size: 24px;
    margin-top: 20px;
  }
  .workability__image {
    width: 40%;
    margin-top: 0px;
  }
}
/* -------------------------------------------- */
/* detail */
/* -------------------------------------------- */
.detail {
  padding: 45px 0;
}
.detail__heading {
  font-size: 7.7333333333vw;
}
.detail__wrap-common {
  background-color: #eee;
  padding: 15px;
  margin-top: 15px;
}
.detail__common-heading {
  text-align: center;
  font-size: 30px;
  font-size: 21px;
}
.detail__common-desc {
  text-align: center;
  margin-top: 15px;
}

/* 共通 */
.detail-card {
  margin-top: 15px;
}
.detail-card__wrap {
  display: flex;
  flex-direction: column;
}
.detail-card__image {
  width: 100%;
}
.detail-card__image img {
  width: 100%;
}
.detail-card__body {
  background: #000;
  color: #fff;
  padding: 15px;
}
.detail-card__title {
  text-align: center;
  font-size: 18px;
  line-height: 1;
}
.detail-card__desc {
  margin-top: 10px;
  font-size: 15px;
  word-break: break-all;
  line-height: 1.4;
}

.br-none {
  display: none;
}

@media (min-width: 600px) {
  .detail__heading {
    font-size: 42px;
  }
}
@media (min-width: 765px) {
  .detail {
    padding: 120px 0;
  }
  .detail__heading {
    font-size: 48px;
  }
  .detail__wrap-common {
    padding: 45px 30px;
    margin-top: 60px;
  }
  .detail__common-heading {
    font-size: 30px;
  }
  .detail__common-desc {
    margin-top: 30px;
  }
  /* 共通 */
  .detail-card {
    width: 33.333%;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    flex-direction: column;
    margin-top: 0;
  }
  .detail-card.--2col {
    width: 50%;
  }
  .detail-card__wrap {
    flex-direction: row;
    margin-top: 30px;
  }
  .detail-card__body {
    padding: 30px;
    height: 100%;
  }
  .detail-card__title {
    font-size: 24px;
  }
  .detail-card__desc {
    margin-top: 20px;
    font-size: 16px;
    line-height: 1.65;
  }
  .br-none {
    display: block;
  }
}
/* -------------------------------------------- */
/* top-qaa */
/* -------------------------------------------- */
.top-qaa {
  background: url(../images/pc-qa-bg.png);
  padding: 45px 0;
  /* アイコン */
}
.top-qaa__heading {
  font-size: 5.6vw;
}
.top-qaa__wrap {
  margin-top: 6px;
  padding-bottom: 26px;
}
.top-qaa__body {
  margin-top: 24px;
}
.top-qaa__common {
  padding: 15px;
  display: flex;
}
.top-qaa__icon {
  margin-right: 15px;
  min-width: 32px;
  width: 32px;
}
.top-qaa__link {
  color: #008cff;
}

/* 質問 */
.question__wrap {
  background-color: #000;
  color: #fff;
  position: relative;
  font-size: 18px;
  align-items: center;
}
.question__wrap::after {
  content: "\f078";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: #fff;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 15px;
  top: 15px;
  border-radius: 5px;
  transition: transform 0.3s;
}
.question__wrap.active::after {
  transform: rotate(180deg);
}
.question__body {
  padding-right: 30px;
  font-weight: 700;
}

/* 答え */
.answer {
  margin-top: 8px;
  display: none;
}
.answer__wrap {
  background-color: #fff;
  font-size: 16px;
}
.answer__body-text {
  word-break: break-all;
}
.answer__body-text:not(:first-child) {
  margin-top: 16px;
}

@media (min-width: 600px) {
  .top-qaa__heading {
    font-size: 32px;
  }
}
@media (min-width: 765px) {
  .top-qaa {
    padding: 120px 0;
    /* アイコン */
  }
  .top-qaa__heading {
    font-size: 44px;
  }
  .top-qaa__wrap {
    margin-top: 60px;
  }
  .top-qaa__body {
    margin-top: 26px;
  }
  .top-qaa__icon {
    min-width: 50px;
    width: 50px;
  }
  /* 質問 */
  .question__wrap {
    font-size: 24px;
    padding: 15px 30px;
  }
  .question__wrap::after {
    width: 45px;
    height: 45px;
    right: 30px;
  }
  /* 答え */
  .answer__wrap {
    font-size: 18px;
    padding: 30px;
  }
}
@media (min-width: 992px) {
  .top-qaa__heading {
    font-size: 48px;
  }
}
/* -------------------------------------------- */
/* history */
/* -------------------------------------------- */
.history {
  padding: 45px 0;
  background-color: #000;
  color: #fff;
}
.history__heading {
  font-size: 9.3333333333vw;
}
.history__text-wrap {
  padding: 45px 0 30px;
  margin-top: -40px;
}
.history__text {
  font-size: 1.2rem;
  line-height: 1.6;
  margin-top: 40px;
}

@media (min-width: 600px) {
  .history__heading {
    font-size: 50px;
  }
}
@media (min-width: 768px) {
  .history {
    padding: 120px 0;
  }
  .history__heading {
    font-size: 60px;
  }
  .history__text-wrap {
    padding: 60px 0 30px;
  }
}
/* -------------------------------------------- */
/* cta */
/* -------------------------------------------- */
.cta {
  background: #000;
  padding: 15px 0 45px;
}

@media (min-width: 765px) {
  .cta {
    background: #000;
    padding: 30px 0 60px;
  }
}
/* -------------------------------------------- */
/* footer */
/* -------------------------------------------- */
.footer {
  padding: 30px 0 120px;
  background: #000;
  color: #fff;
  font-family: "noto sans jp", sans-serif;
}
.footer__fixed-bg {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/footer_bg.jpg) center/cover;
  padding: 15px 0;
  position: relative;
  text-align: center;
  background-attachment: fixed;
}
.footer__maintitle {
  line-height: 1;
  font-size: calc(1.91rem + 1.69 * (100vw - 20rem) / 28);
  font-weight: 700;
}
.footer__subtitle {
  font-weight: 300;
  margin-top: 30px;
  padding-bottom: 16px;
  letter-spacing: -0.05em;
  font-size: calc(1.14rem + 0.26 * (100vw - 20rem) / 28);
}
.footer__copyright {
  text-align: center;
  font-size: 1.2rem;
}

.footer-nav {
  color: #008cff;
  margin-top: 30px;
}
.footer-nav__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.footer-nav__item {
  padding: 0 1rem 1rem;
  font-size: 1.2rem;
}

@media (min-width: 765px) {
  .footer__maintitle {
    font-size: 3.6rem;
  }
  .footer__subtitle {
    font-size: 1.4rem;
  }
}
/* -------------------------------------------- */
/* maintenance */
/* -------------------------------------------- */
.maintenance-mv {
  background: url(../images/maintenance/maintenance-mv-sp.png) center/cover no-repeat;
}

.maintenance__heading-wrap {
  max-width: 770px;
  margin: 0 auto;
}

.maintenance-archives {
  padding: 60px 0 60px;
  background: #c1c1c1;
}
.maintenance-archives__cont {
  display: flex;
  flex-wrap: wrap;
}
.maintenance-archives__heading {
  text-align: center;
}
.maintenance-archives__wrap {
  padding: 16px;
  margin-top: 24px;
}
.maintenance-archives__body {
  padding: 32px;
  background: #696969;
  color: #fff;
  flex-direction: column;
}
.maintenance-archives__body-heading {
  font-size: calc(1rem + 0 * (100vw - 20rem) / 28);
  font-weight: 500;
}
.maintenance-archives__body-desc {
  margin-top: 24px;
  font-weight: 300;
}
.maintenance-archives__image {
  width: 100%;
}
.maintenance-archives__image img {
  aspect-ratio: 1/1;
}
.maintenance-archives__btn {
  margin: 32px auto 0;
}
.maintenance-archives__attention {
  margin: 75px auto 0;
  padding: 0 15px;
  line-height: 1.6;
}

.keepclean {
  padding: 135px 0;
}
.keepclean__desc {
  margin-top: 46px;
  font-weight: 300;
}
.keepclean__right {
  margin-top: 64px;
}

.maintenance__fixedbg {
  padding: 135px 0;
  background-position: 43%;
}
.maintenance__fixedbg .fixed-space {
  display: block;
  width: 100%;
  height: 160px;
}

.coating {
  padding: 135px 0;
}

.coating-card__desc {
  padding: 32px;
  color: #fff;
  background-color: #585858;
}

.houden {
  padding: 60px 0;
  background: #383838;
  color: #fff;
}

.houden-list {
  padding: 16px;
}
.houden-list__body {
  background-color: #fff;
  color: #232323;
  padding: 32px;
}
.houden-list__desc {
  margin-top: 24px;
}

.kodawari {
  padding: 60px 0;
}

.maintenance-common__cont {
  margin-top: 16px;
}
.maintenance-common__list {
  padding: 16px;
}
.maintenance-common__list-item {
  padding: 32px;
}
.maintenance-common__bgc.--gray {
  background-color: #585858;
  color: #fff;
  margin-top: -24px;
}
.maintenance-common__bgc.--black {
  background-color: #232323;
  color: #fff;
}
.maintenance-common__bgc.--white {
  background-color: #fff;
  color: #000;
}
.maintenance-common__image {
  width: 100%;
}
.maintenance-common__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (min-width: 768px) {
  .maintenance-archives__wrap {
    width: 50%;
  }
  .maintenance-archives__body-heading {
    font-size: 1rem;
  }
  .maintenance-archives__btn {
    margin: 32px -32px 0;
  }
}
@media (min-width: 992px) {
  .keepclean__cont {
    display: flex;
  }
  .keepclean__desc {
    margin-top: 60px;
  }
  .keepclean__left {
    flex: 1;
  }
  .keepclean__right {
    margin-top: 0px;
    width: 60%;
    padding-left: 4rem;
  }
  .maintenance-common__list-item {
    padding: 32px;
  }
}
@media (min-width: 1140px) {
  .maintenance-archives__wrap {
    width: 25%;
  }
}
.reason__right {
  text-align: center;
  margin-top: 48px;
}
.reason__left {
  width: 100%;
}

.reason-list {
  padding-bottom: 24px;
}
.reason-list__title {
  margin-top: 24px;
}

@media (min-width: 992px) {
  .reason__cont {
    display: flex;
    align-items: center;
  }
  .reason__right {
    flex: 1;
    padding-left: 64px;
    margin-top: 0;
  }
  .reason__left {
    width: 55%;
  }
}
/* -------------------------------------------- */
/* superleocoat */
/* -------------------------------------------- */
.triple-mv {
  background: url(../images/triple/triple-mv-sp.png) center/cover no-repeat;
}
.triple-mv__copy--top {
  text-align: center;
}
.triple-mv__copy--bottom {
  padding-bottom: 15px;
}

@media (min-width: 765px) {
  .triple-mv {
    background: url(../images/triple/triple-mv-pc.png) center/cover no-repeat;
  }
  .triple-mv__copy--bottom {
    padding-bottom: 45px;
  }
}
/* -------------------------------------------- */
/* triple-reason */
/* -------------------------------------------- */
.triple-reason {
  padding: 90px 0 30px;
}
.triple-reason__attention {
  color: red;
  margin-top: 6px;
  font-size: 1rem;
}
.triple-reason__doukonhin-btn {
  font-weight: 700;
  font-size: 1.1875rem;
  margin-top: 16px;
  padding-bottom: 16px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}
.triple-reason__instructions {
  display: block;
  text-align: center;
  margin-top: 30px;
}

@media (min-width: 765px) {
  .triple-reason {
    padding: 90px 0 120px;
  }
  .triple-reason__doukonhin-btn {
    font-size: 1.375rem;
  }
  .triple-reason__instructions {
    margin-top: 30px;
  }
}
/* -------------------------------------------- */
/* triple-doukonhinn */
/* -------------------------------------------- */
.triple-doukonhinn {
  font-family: "noto sans JP";
}
.triple-doukonhinn__heading {
  background: linear-gradient(rgba(79, 73, 67, 0.8), rgba(79, 73, 67, 0.8)), url(../images/leo-bg.jpg) 50% 50%/cover no-repeat;
  color: #fff;
  text-align: center;
  padding: 60px 0 76px;
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
  font-size: calc(1.91rem + 1.69 * (100vw - 20rem) / 28);
  background-attachment: fixed;
}
.triple-doukonhinn__cont {
  padding: 64px 0;
}

@media (min-width: 765px) {
  .triple-doukonhinn__heading {
    padding: 60px 0 76px;
    font-size: 58px;
  }
}
@media (min-width: 992px) {
  .triple-doukonhinn__cont {
    padding: 64px 0;
  }
  .triple-doukonhinn__image {
    width: 50%;
  }
  .triple-doukonhinn__body {
    flex: 1;
    padding: 2rem;
  }
  .flex-common {
    display: flex;
    align-items: center;
  }
  .flex-common.--reverse {
    flex-direction: row-reverse;
  }
  .flex-common.--reverse .desc-common {
    max-width: 28rem;
  }
}
/* -------------------------------------------- */
/* triple-features */
/* -------------------------------------------- */
.triple-feature__wrap {
  background-color: #4F4943;
  padding: 135px 15px;
  color: #fff;
}
.triple-feature__title {
  margin-top: 24px;
}
.triple-feature__desc {
  margin-top: 46px;
}
.triple-feature__fixedbg {
  padding: 135px 0;
}
.triple-feature__fixedbg .fixed-space {
  display: block;
  width: 100%;
  height: 160px;
}
.triple-feature__image {
  padding-bottom: 16px;
}
.triple-feature__image.--mt {
  margin-top: 64px;
}
.triple-feature__image img {
  width: 100%;
}
.triple-feature__btn {
  padding: 30px;
  text-align: center;
}

.triple-feature-list {
  margin-top: 45px;
}
.triple-feature-list__item {
  padding: 16px;
}
.triple-feature-list__image {
  padding-bottom: 32px;
}

@media (min-width: 765px) {
  .triple-feature__title {
    margin-top: 0px;
  }
  .triple-feature__desc {
    margin-top: 60px;
  }
  .triple-feature__bg .fixed-space {
    height: 230px;
  }
  .triple-feature__btn .ss-amznbtn {
    font-size: 1.1875rem;
  }
  .triple-feature-list__item {
    width: 50%;
  }
}
@media (min-width: 992px) {
  .triple-feature__cont {
    display: flex;
    justify-content: space-between;
  }
  .triple-feature__wrap {
    background-color: #4F4943;
    padding: 135px 15px;
    color: #fff;
  }
  .triple-feature__image {
    width: 60%;
    padding-right: 64px;
  }
  .triple-feature__image.--mt {
    margin-top: 0px;
    padding-right: 0;
    padding-left: 64px;
  }
  .triple-feature__body {
    flex: 1;
  }
  .triple-feature-list__item {
    width: 25%;
  }
}
/* -------------------------------------------- */
/* qaa */
/* -------------------------------------------- */
.qaa-inner {
  padding: 15px 0;
  margin: 0 auto;
  max-width: 100%;
}

@media (min-width: 768px) {
  .qaa-inner {
    max-width: 510px;
  }
}
@media (min-width: 992px) {
  .qaa-inner {
    max-width: 490px;
  }
}
@media (min-width: 1140px) {
  .qaa-inner {
    max-width: 620px;
  }
}
@media (min-width: 1200px) {
  .qaa-inner {
    max-width: 740px;
  }
}
.qaa__wrap {
  padding: 60px 0 45px;
}

/* リスト */
.num-list {
  counter-reset: number;
  padding: 15px;
}
.num-list__heading {
  font-size: 1.2rem;
  line-height: 1.3;
  font-weight: 300;
}
.num-list__item {
  position: relative;
  padding-left: 40px;
  margin-top: 1rem;
  color: #767676;
}
.num-list__item::before {
  position: absolute;
  counter-increment: number;
  content: counter(number);
  display: inline-block;
  left: 0;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
}
.num-list__item.--round::before {
  background: #008cff;
  color: white;
  border-radius: 50%;
}
.num-list__item.--square::before {
  background: #000;
  color: white;
}
.num-list__wrap {
  padding-left: 8px;
}
.num-list__question {
  font-weight: 700;
}

/* -------------------------------------------- */
/* about */
/* -------------------------------------------- */
.about-info {
  margin-top: 1rem;
  font-weight: 300;
  line-height: 1.3;
  letter-spacing: -0.05em;
}
.about-info__heading {
  font-weight: normal;
}
.about-info__wrap {
  padding: 60px 0;
}

/*----- form関連 -----*/
.form__wrap {
  padding: 60px 0;
}
.form__heading {
  text-align: center;
  font-size: calc(1.35rem + 0.65 * (100vw - 20rem) / 28);
}
.form__desc {
  color: #767676;
  font-weight: 300;
  letter-spacing: -0.05em;
  margin-top: 16px;
  padding-bottom: 16px;
}
.form__body {
  margin-top: 2rem;
}

.form-parts {
  margin-top: 15px;
  width: 100%;
}
.form-parts__heading {
  color: #232323;
}

input[type=text],
input[type=mail],
input[type=submit] {
  width: 100%;
  line-height: 1.43;
  min-height: 3.5em;
  padding: 1.07em 0.5em;
}

input[type=text],
input[type=mail] {
  display: block;
  background-color: #f5f5f5;
  box-shadow: none;
  color: #565656;
  border: 1px solid #e8e8e8;
  margin-top: 0.357em;
}

input[type=submit] {
  background-color: #008cff;
  border: 2px solid #008cff;
  cursor: pointer;
  color: #fff;
  padding: 1rem 3rem;
  border-radius: 100px;
  margin: calc(0.4rem + 16px) 0;
  font-size: 1.4rem;
  font-size: 0.75rem;
  line-height: calc(1.4 * (1.14rem + 0.26 * (100vw - 20rem) / 28));
}

/* Hover Event */
@media (hover: hover) {
  input[type=submit] {
    transition: box-shadow 0.4s, background-color 0.4s, border-color 4s;
  }
  input[type=submit]:hover {
    box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
    background-color: #0062b3;
    border-color: #0062b3;
  }
}
@media (min-width: 765px) {
  /*----- form関連 -----*/
  .form__heading {
    font-size: 2rem;
  }
  input[type=submit] {
    margin: calc(0.4rem + 16px) 0;
    font-size: 1.4rem;
  }
}
@media (min-width: 992px) {
  .form__inner {
    max-width: 760px;
  }
  .form__body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .form-parts.name, .form-parts.mail {
    width: calc(50% - 15px);
  }
}
/* -------------------------------------------- */
/* inspection */
/* -------------------------------------------- */
.inspection__cont {
  margin-top: 30px;
}

/* 共通 */
.inspection-heading__wrap {
  background: #232323;
  width: 100%;
  color: #fff;
}
.inspection-heading__wrap.--inspection {
  padding: 60px 0 30px;
}
.inspection-heading__wrap.--result {
  padding: 45px 0 30px;
}

.inspection__heading {
  text-align: center;
}

.inspection-content {
  padding-bottom: 30px;
  margin-top: -30px;
}

.inspection-card {
  padding: 16px;
}
.inspection-card__desc {
  margin-top: 32px;
}

.inspection-result {
  padding-top: 45px;
  padding-bottom: 30px;
}

.inspection-points {
  text-align: center;
  padding-top: 90px;
  padding-bottom: 90px;
}
.inspection-points__list {
  padding: 16px;
}
.inspection-points__image {
  width: 96px;
  height: 96px;
  margin: 0 auto;
}
.inspection-points__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.inspection-points__title {
  font-weight: bold;
  line-height: calc(1.4 * (1.14rem + 0.26 * (100vw - 20rem) / 28));
  font-size: calc(1.14rem + 0.26 * (100vw - 20rem) / 28);
  margin-top: 32px;
}
.inspection-points__desc {
  margin-top: 28px;
  color: #767676;
}

.hardness-report__wrap {
  padding-left: 15px;
  padding-right: 15px;
  max-width: 66.666667%;
  margin: 0 auto;
}
.hardness-report__heading {
  font-size: calc(1.35rem + 0.65 * (100vw - 20rem) / 28);
  text-align: center;
  font-weight: 700;
}
.hardness-report__desc {
  font-weight: 700;
  letter-spacing: -0.05em;
  margin-top: 16px;
}
.hardness-report__summarize {
  color: #767676;
  font-weight: 700;
  padding-left: 15px;
  padding-right: 15px;
  font-size: calc(1.14rem + 0.26 * (100vw - 20rem) / 28);
  margin-top: 45px;
}

.hardness-report-list {
  margin-top: 45px;
}
.hardness-report-list__item {
  padding: 24px;
  width: 100%;
}

/*------ タブ -----*/
.tab-title-list {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.tab-title {
  width: 33.3333333333%;
  background-color: #000;
  font-size: 1rem;
  padding: 0.4rem 1rem;
  cursor: pointer;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.tab-title.selected {
  background-color: #232323;
  font-weight: bold;
  color: #fff;
}

.tab-list {
  display: none;
}
.tab-list.show {
  display: block;
}

@media (min-width: 765px) {
  .inspection-result {
    padding-top: 45px;
    padding-bottom: 30px;
  }
  .inspection-2-col {
    margin-top: -32px;
  }
  .inspection-2-col .inspection-card {
    margin-top: 32px;
  }
  .inspection-points__title {
    font-size: 1.4rem;
  }
  .hardness-report__heading {
    font-size: 2rem;
  }
  .hardness-report__summarize {
    max-width: 740px;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.4rem;
  }
  .hardness-report-list {
    display: flex;
    flex-wrap: wrap;
  }
  .hardness-report-list__item {
    width: 33.333%;
  }
  /*------ タブ -----*/
  .tab-title {
    padding: 16px 16px;
  }
}
/* -------------------------------------------- */
/* delivery */
/* -------------------------------------------- */
.delivery__wrap {
  padding: 60px 0 15px;
}
.delivery__heading {
  text-align: center;
}

/* -------------------------------------------- */
/* privacy */
/* -------------------------------------------- */
.privacy__heading {
  text-align: center;
}
.privacy__heading-comp {
  padding: 0 15px;
  margin-top: 54px;
}
.privacy__sub-heading {
  font-size: calc(1.14rem + 0.26 * (100vw - 20rem) / 28);
  text-align: center;
}
.privacy__body {
  padding: 45px 15px;
}

.privacy-announce {
  padding: 45px 0;
}
.privacy-announce__text {
  font-weight: 300;
  margin-top: 16px;
  letter-spacing: -0.05em;
}
.privacy-announce__table {
  margin-top: 45px;
  border-collapse: collapse;
}
.privacy-announce table, .privacy-announce td, .privacy-announce th {
  border: 1px #ddd solid;
  padding: 12px;
}

.privacy-toc {
  padding: 45px 0;
}
.privacy-toc__body {
  color: #767676;
  padding: 30px 15px 0;
}

@media (min-width: 765px) {
  .privacy__sub-heading {
    font-size: 1.4rem;
  }
  .privacy-announce {
    padding: 60px 0;
  }
  .privacy-toc {
    padding: 60px 0;
  }
}
/* -------------------------------------------- */
/* fade in */
/* -------------------------------------------- */
/* 下からフェードイン */
.fadeUpTrigger {
  opacity: 0;
}

.fadeUpAnime {
  animation-name: fadeUpAnime;
  animation-duration: 1.6s;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes fadeUpAnime {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* -------------------------------------------- */
/*  */
/* -------------------------------------------- *//*# sourceMappingURL=styles.css.map */